@font-face {
    font-family: 'inter-Regular';
    src: url('font/Inter/static/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'inter-Medium';
    src: url('font/Inter/static/Inter_18pt-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'inter-Bold';
    src: url('font/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'inter-Regular';
    margin: 0 auto;
}

.header-fullsize {
    width: 100%;
    max-width: 100%;
    height: 96px;

}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    height: 96px;
    background-color: rgb(238, 226, 226);
    box-shadow: 0px 5px 8px rgb(146, 150, 140);
}

.headerProfileCircle {
    width: 56px;
    height: 56px;
    color: #29ABE2;
    border: 2px solid black;
    border-radius: 50%;
}

.headline {
    margin-left: 348px;
}

.profile_help-aria {
    display: flex;
    align-items: center;
    margin-right: 40px;
    gap: 16px;
}

.profile_help-aria>img {
    cursor: pointer;

}

.headerProfileCircle>h2 {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    cursor: pointer;
}

.profileMenu {
    position: absolute;
    /* orientiert sich jetzt an header-content */
    top: 100px;
    /* direkt unter dem Header platzieren */
    right: 50px;
    /* rechtsbündig am Header */
    z-index: 999;
    opacity: 0;
    width: 150px;
    height: 158px;
    /* z-index: 1; */
    border-radius: 15px;
    background-color: #2a3647;
    ;
    border: 2px solid rgb(31, 25, 25);
    animation: slideIn 0.5s ease-in forwards;
}

@keyframes slideIn {

    /* from{left:1420px;}
    to{left:1280px;} */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideback {

    /* from{left:1280px;}
    to{left:1420px;} */
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.slideback {

    animation: slideback 0.5s ease-in forwards;
}

.profileMenu a {
    color: white;
    text-decoration: none;
}

.profileMenu h4 {
    margin: 15px 20px;
    color: white;
    text-decoration: none;
}

.dontShow {
    display: none;
}


.nav-contentsize {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}

.join-logo-desktop {
    cursor: pointer;
    width: 100.03px;
    height: 121.97px;
    margin: 0 auto;
    margin-top: 64px;
    margin-bottom: 114.02px;
}

nav {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background: #2a3647;
    width: 232px;
    overflow: hidden;
    position: relative;
    top: -96px;
    z-index: 0;
    height: 1024px;
}

.nav-elements {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    padding: unset;
    margin: 0;
}

.nav-elements span {
    font-size: 16px;
    font-family: "Inter", sans-serif;
}

.nav-elements>li>a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 8px 0px 8px 53px;
    cursor: pointer;
}

.nav-elements>li>a>img {
    width: 25px;
    height: 25px;
}

.nav-elements>li:hover {
    background: #091931;
}

.privacy-legal-section {
    width: 232px;
    height: 317px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background-color: #2a3647;
    color: gray;

    padding-bottom: 64px;
    gap: 4px;
}

.privacy-legal-section a {
    cursor: pointer;
    color: white;
    text-decoration: none;
    width: 100%;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: #091931;
    }
}



.privacy-legal-section>a>h4 {
    margin: 8px 0px;

}


.main-fullsize {
    width: 100%;
    max-width: 100%;
}