
@media (max-width: 900px){
    .headline{
        margin-left:300px;
        font-size: 20px;
    }
}

@media (max-width: 780px){
    .headline{
        margin-left: 270px;
        font-size: 16px;
    }
}

@media (max-width: 680px){
    .headline{
        margin-left: 250px;
        font-size: 14px;
    }
}