@media(max-width:1920px) {
    .bigViewContent {
        left: calc((100vw - 525px)/2);
        top: calc((100vh - 1050px)/2);
        max-height: 860px;
        height:101%;
        
    }

    .bigViewOfTask {
        max-height: 850px;
        height:100%;
    }
}

@media(max-width:1024px) {
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: calc(100vh);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 20px 10px 20px;
        max-width: 460px;
        background-color: white;
        border-radius: 30px;
        height:920px;
        max-height:920px;
        overflow-y:scroll;
        scrollbar-width: none;
        margin: 156px auto;
    }

}

@media(max-width:1000px) {
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
    }

    .titleBigView h2 {
        font-size: 40px;
    }

    .subtaskBigView {
        max-height: 120px;
    }

    .dueDateBigView {
        margin: 0px 0px 10px 0px;
    }

    .priorityBigView {
        margin: 0px 0px 10px 0px;
    }

    .descriptionBigView p {
        margin: 0px 0px 14px 0px;
    }

    .priorityBigView p {
        margin: 15px 0px 15px 0px;
    }

    .assignedToBigView {
        margin: 5px 0px 5px 0px;
    }

    .contactCircleBigView {
        width: 35px;
        height: 35px;
        z-index: 0;
    }

    .singleContactBoxForBigView {
        height: 56px;
    }
}

@media(min-width:912px) and (max-width:912px) {
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: calc(100vh);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 500px;
        background-color: white;
        border-radius: 30px;
        height:fit-content;
        max-height:880px;
        overflow-y:scroll;
        margin: 90px auto;
    }
}

@media(min-width:853px) and (max-width:853px) {
    .bigViewOfTask {
        top: calc((100vh - 1120px)/2);
        left: calc((100vw - 853px)/2);
        max-width: 853px;
        max-height: calc(100vh - 160px);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 560px;
        background-color: white;
        border-radius: 30px;
        height:fit-content;
        max-height:900px;
        overflow-y:hidden;
        margin: 33px auto;
        scrollbar-width: none;
    }
}


@media(min-width:820px) and (max-width:821px) and (max-height:1180px) {
    .bigViewOfTask {
        top: calc((100vh - 1020px)/2);
        left: calc((100vw - 820px)/2);
        max-width: 820px;
        max-height: calc(100vh - 160px);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 20px 10px 20px;
        max-width: 660px;
        background-color: white;
        border-radius: 30px;
        height:935px;
        max-height:unset;
        overflow-y:scroll;
        margin: 33px auto;
    }
}

@media(min-width:768px) and (max-width:769px) and (max-height:1024px) {
    .bigViewOfTask {
        top: calc((100vh - 865px)/2);
        left: calc((100vw - 768px)/2);
        max-width: 768px;
        max-height: calc(100vh - 160px);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        /* padding: 10px 10px 10px 10px; */
        max-width: 560px;
        background-color: white;
        border-radius: 30px;
        height:700px;
        max-height:700px;
        overflow-y:scroll;
        margin: 33px auto;
    }
}

@media(max-width:710px) {
    
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: calc(100vh);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 440px;
        background-color: white;
        border-radius: 30px;
        height:715px;
        max-height:715px;
        overflow-y:scroll;
        margin: 100.5px auto;
    }



    .titleBigView h2 {
        font-size: 30px;
    }

    .descriptionBigView p {
        font-size: 18px;
    }

    .dueDateBigView p {
        margin: 5px 0px 5px 0px;
    }
}

@media(min-width:541px) and (max-width:570px) {
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: 100vh;
        padding: 48px 32px;
        /* overflow-y:scroll; */
        scrollbar-width: none;
    }

    .titleBigView h2 {
        font-size: 36px;
    }

    .descriptionBigView p {
        font-size: 16px;
    }

    .dueDateBigView {
        font-size: 16px;
    }

    .dueDateBigView p {
        font-size: 17px;
    }
}

@media(min-width:540px) and (max-width:541px) {
    
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: calc(100vh);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 360px;
        background-color: white;
        border-radius: 30px;
        height:fit-content;
        max-height:500px;
        overflow-y:scroll;
        margin: 23px auto;
    }

}

@media(max-width:500px) {
    .bigViewOfTask {
        right: 30px;
    }
}

@media(max-width:475px) {
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: 100vh;
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 360px;
        background-color: white;
        border-radius: 30px;
        height:650px;
        max-height:650px;
        overflow-y:scroll;
        margin: 33px auto;
    }
}


@media(max-width:430px) and (max-height:932px) {
    .bigViewOfTask {
        top: calc((100vh - 768px)/2);
        left: calc((100vw - 430px)/2);
        max-width: 430px;
        max-height: calc(100vh - 160px);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }
    
    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 360px;
        background-color: white;
        border-radius: 30px;
        height:644px;
        max-height:644px;
        overflow-y:scroll;
        margin: 54px auto;
    }
}

@media (min-width:427px) and (max-width:428px) {

    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: 100vh;
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }
    
    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 360px;
        background-color: white;
        border-radius: 30px;
        height:450px;
        max-height:450px;
        overflow-y:scroll;
        margin: 13px auto;
    }

    .descriptionBigView p {
        max-width: 300px;
    }

    .assignedToBigView {

        max-width: 300px;
    }


    .assignedToBigView p {
        font-size: 16px;
    }

    .titleBigView {
        max-width: 300px;
    }

    .titleBigView h2 {
        font-size: 32px;
        max-width: 300px;
    }

    .descriptionBigView {
        max-width: 300px;
    }

    .descriptionBigView p {
        font-size: 16px;
    }

    .dueDateBigView {
        max-width: 300px;
    }

    .bigViewHeadlineCloseArea {
        max-width: 300px;
        height: 60px;
        position: sticky;
        top: -10px;
        padding-top: 20px;
        background-color: white;
    }

    .subtaskBigView {
        max-width: 300px;
    }

    .editeDeleteArea {
        max-width: 300px;
        height: 80px;
        position: sticky;
        bottom: -11px;
    }

    .footerPopupEditView {
        bottom: -26px;
        z-index: 3;
        display: flex;
        align-items: center;
        ;
    }

    .ok-btn-edit-view {
        height: 40px;
    }
}

@media(min-width:413px) and (max-width:414px) and (max-height:896px) {
    .bigViewOfTask {
        top: calc((100vh - 736px)/2);
        left: calc((100vw - 414px)/2);
        max-width: 414px;
        max-height: calc(100vh - 159px);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 360px;
        background-color: white;
        border-radius: 30px;
        height:650px;
        max-height:650px;
        overflow-y:scroll;
        margin: 33px auto;
    }
}

@media(min-width:412px) and (max-width:412px) and (max-height:915px) {
    .bigViewOfTask {
        top: calc((100vh - 755px)/2);
        left: calc((100vw - 413px)/2);
        max-width: 414px;
        max-height: calc(100vh - 159px);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 360px;
        background-color: white;
        border-radius: 30px;
        height:650px;
        max-height:650px;
        overflow-y:scroll;
        margin: 33px auto;
    }
}

@media(max-width:400px) and (max-height:667px) {
    .bigViewOfTask {
        top: calc((100vh - 505px)/2);
        left: calc((100vw - 375px)/2);
        max-width: 375px;
        max-height: 507px;
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
        box-sizing: border-box;
    }
    
    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 320px;
        background-color: white;
        border-radius: 30px;
        height:450px;
        max-height:450px;
        overflow-y:scroll;
        margin:18px auto;
    }
}

@media(max-width:400px) {
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: 100vh;
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
        box-sizing: border-box;
    }
    
    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 320px;
        background-color: white;
        border-radius: 30px;
        height:650px;
        max-height:650px;
        overflow-y:scroll;
        margin:100px auto;
    }
}

@media(min-width:390px) and (max-width:391px) and (max-height:844px) {
    .bigViewOfTask {
        top: calc((100vh - 685px)/2);
        left: calc((100vw - 390px)/2);
        max-width: 390px;
        max-height: 685px;
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }
    
    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 360px;
        background-color: white;
        border-radius: 30px;
        height:620px;
        max-height:620px;
        overflow-y:scroll;
        margin: 22px auto;
    }
}

@media(max-width:370px) {
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: 100vh;
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }
    
    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 320px;
        background-color: white;
        border-radius: 30px;
        height:750px;
        max-height:750px;
        overflow-y:scroll;
        margin: 130px auto;
    }

    .bigViewHeadlineCloseArea {
        max-width: 290px;
        padding: 20px 25px 0px 25px;
    }

    .titleBigView h2 {
        font-size: 28px;

        width: 280px;
    }

    .descriptionBigView p {
        padding: 10px;
    }

    .dueDateBigView {
        padding: 10px;
    }

    .priorityBigView {
        padding: 10px;
    }

    .assignedToBigView p {
        padding: 10px;
    }

    .singleContactBoxForBigView {
        padding-left: 10px;
        width: 265px;
    }

    .subtaskBigView {
        padding: 10px;
    }

    .editeDeleteArea {
        justify-content: center;
    }

    .titleBigView {
        max-width: 280px;
        padding: 10px;
    }


    .descriptionBigView {
        max-width: 280px;
    }

    .assignedToBigView {

        max-width: 280px;
    }

    .dueDateBigView {
        max-width: 280px;
    }

    .subtaskBigView {
        max-width: 280px;
    }

    .editeDeleteArea {
        max-width: 280px;
    }

}

@media(min-width:360px) and (max-width:361px) and (max-height:741px) {
    
    .bigViewOfTask {
        top: calc((100vh - 580px)/2);
        left: calc((100vw - 360px)/2);
        max-width: 414px;
        max-height: calc(100vh - 159px);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 340px;
        background-color: white;
        border-radius: 30px;
        height:515px;
        max-height:515px;
        overflow-y:scroll;
        margin: 30.5px auto;
    }

}

@media(min-width:360px) and (max-width:361px) and (min-height:780px) and (max-height:781px) {
    
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: calc(100vh9);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 340px;
        background-color: white;
        border-radius: 30px;
        height:515px;
        max-height:515px;
        overflow-y:scroll;
        margin: 30.5px auto;
    }

}

/* @media(min-width:360px) and (max-width:361px) {
    
    .bigViewOfTask {
        top: calc((100vh - 616px)/2);
        left: calc((100vw - 360px)/2);
        max-width: 414px;
        max-height: calc(100vh - 142px);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 340px;
        background-color: white;
        border-radius: 30px;
        height:515px;
        max-height:515px;
        overflow-y:scroll;
        margin: 30.5px auto;
    }

} */

@media(min-width:344px) and (max-width:345px) {
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: calc(100vh);
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 304px;
        background-color: white;
        border-radius: 30px;
        height:650px;
        max-height:650px;
        overflow-y:scroll;
        margin: 130px auto;
    }

}

@media(max-width:343px) {
    .bigViewOfTask {
        top: calc(0px);
        left: calc(0px);
        max-width: 100vw;
        max-height: 100vh;
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }
    
    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 290px;
        background-color: white;
        border-radius: 30px;
        height:750px;
        max-height:750px;
        overflow-y:scroll;
        margin:130px auto;
    }
}

@media(max-width:330px) and (max-height:658px) {
    .bigViewOfTask {
        top: calc((100vh - 495px)/2);
        left: calc((100vw - 320px)/2);
        max-width: 320px;
        max-height: 498px;
        height:100%;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }
    
    .bigViewContent {
        padding: 10px 10px 10px 10px;
        max-width: 290px;
        background-color: white;
        border-radius: 30px;
        height:450px;
        max-height:450px;
        overflow-y:scroll;
        margin: 13px auto;
        
    }
}