
@media(max-width:1920px) {
    .bigViewOfTask {
        left:calc((100vw - 525px)/2);
        top:calc((100vh - 1050px)/2);
        max-height: 860px;
    }
}

@media(max-width:1135px) {
    .bigViewOfTask {
        left:calc((100vw - 525px)/2);
        top:calc((90vh - 1035px)/2);
        max-height: 860px;
    }
}

@media(max-width:1000px){
    .bigViewOfTask {
        top:calc((90vh - 1035px)/2);
        left:calc((100vw - 525px)/2);
    }

    .titleBigView h2 {
        font-size: 40px;
    }

    .subtaskBigView {
        max-height:120px;
    }

    .dueDateBigView{
        margin: 0px 0px 10px 0px;
    }

    .priorityBigView {
        margin: 0px 0px 10px 0px;
    }

    .descriptionBigView p{
        margin: 0px 0px 14px 0px;
    }

    .priorityBigView p {
        margin: 15px 0px 15px 0px;
    }

    .assignedToBigView{
        margin: 5px 0px 5px 0px;
    }
    
    .contactCircleBigView{
        width: 35px;
        height:35px;
    }

    .singleContactBoxForBigView{
        height:56px;
    }
}

@media(max-width:710px) {
    .bigViewOfTask {
        right: 60px;
        max-width: 420px;
    }

    .titleBigView h2 {
        font-size: 30px;
    }

    .descriptionBigView p {
        font-size: 18px;
    }

    .dueDateBigView p {
        margin: 5px 0px 5px 0px;
    }
}

@media(max-width:570px) {
    .bigViewOfTask {
        top:calc((100vh - 1050px)/2);
        left:calc((100vw - 380px)/2);
        max-width: 320px;
        max-height:650px;
        padding: 48px 32px;
        /* overflow-y:scroll; */
        scrollbar-width: none;
    }

    .titleBigView h2 {
        font-size: 36px;
    }

    .descriptionBigView p {
        font-size: 16px;
    }

    .dueDateBigView {
        font-size: 16px;
    }

    .dueDateBigView p {
        font-size: 17px;
    }
}

@media(min-width:540px) and (max-width:541px){
    .bigViewOfTask {
        top:calc((100vh - 700px)/2);
        max-height:450px;
        overflow-y:scroll;
    }
}

@media(max-width:500px) {
    .bigViewOfTask {
        right: 30px;
    }
}

@media(max-width:430px){
    .bigViewOfTask {
        top:calc((100vh - 905px)/2);
        max-height:650px;
    }
}

@media(max-width:428px) {

     .bigViewOfTask {
        top:calc((100vh - 810px)/2);
        left:calc((100vw - 360px)/2);
        padding: 0px 20px 0px 20px;
        max-height:650px;
        overflow-y:scroll;
     }

     .descriptionBigView p {
        max-width:300px;
    }

    .assignedToBigView{

        max-width:300px;
    }
    

    .assignedToBigView p {
        font-size: 16px;
    }

    .titleBigView{
        max-width:300px;
    }

     .titleBigView h2 {
        font-size: 32px;
        max-width:300px;
    }

    .descriptionBigView{
        max-width:300px;
    }
    .descriptionBigView p {
        font-size: 16px;
    }

    .dueDateBigView {
        max-width:300px;
    }

    .bigViewHeadlineCloseArea {
        max-width:300px;
        height:60px;
        position:sticky;
        top:0px;
        padding-top:20px;
        background-color: white;
    }

    .subtaskBigView{
        max-width:300px;
    }

    .editeDeleteArea{
        max-width:300px;
        height:80px;
        position:sticky;
        bottom:0px;
    }

    .footerPopupEditView{
        bottom:-26px;
        z-index: 3;
        display: flex;
        align-items: center;;
    }

    .ok-btn-edit-view {
        height:40px;
    }
}

@media(max-width:400px){
    .bigViewOfTask {
        top:calc((100vh - 600px)/2);
        max-height:440px;
    }
}

@media(min-width:390px) and (max-width:391px){
    .bigViewOfTask {
        top:calc((100vh - 905px)/2);
        max-height:650px;
    }
}

@media(max-width:370px){
    .bigViewOfTask{
        top:calc((100vh - 646px)/2);
        left:calc((100vw - 290px)/2);
        max-width:290px;
        padding:0px 0px 0px 0px;
        max-height:445px;
    }

    .bigViewHeadlineCloseArea{
        max-width:290px;
        padding: 20px 25px 0px 25px;
    }

    .titleBigView h2 {
        font-size: 28px;
       
        width:280px;
    }

    .descriptionBigView p{
        padding:10px;
    }

    .dueDateBigView{
        padding:10px;
    }
    
    .priorityBigView{
        padding:10px;
    }

    .assignedToBigView p{
        padding:10px;
    }

    .singleContactBoxForBigView{
        padding-left:10px;
        width:265px;
    }

    .subtaskBigView{
        padding:10px;
    }

    .editeDeleteArea{
        justify-content: center;
    } 

     .titleBigView {
        max-width:280px;
        padding:10px;
    }


    .descriptionBigView  {
        max-width:280px;
    }

    .assignedToBigView{

        max-width:280px;
    }

    .dueDateBigView {
        max-width:280px;
    }

    .subtaskBigView{
        max-width:280px;
    }

    .editeDeleteArea{
        max-width:280px;
    }

}

@media(min-width:360px) and (max-width:361px){
    .bigViewOfTask {
        top:calc((100vh - 720px)/2);
        max-height:560px;
    }
}

@media(min-width:344px) and (max-width:345px){
    .bigViewOfTask {
        top:calc((100vh - 720px)/2);
        max-height:560px;
    }
}