@media(max-width:1280px) {
    .categorys {
        gap: 34.67px;
        padding: 0px 10px 0px 24px;
        max-width:1000px;
    }
}

@media(max-width:1024px) and (min-height: 598px) and (max-height:600px) {
    .mainAria{
        max-height:calc(100vh - 96px);
    }
}


@media (max-width: 1135px) {

    .headline_searchAddTask {
        padding-left: 40px;
        padding-right: 76px;
        /* height:259px; */
    }

    .headline_searchAddTask p {
        font-size: 51px;
    }

    .searchInputField button {
        margin-right: 50px;
        width: 50%;
    }

    .searchInputField {
        max-width: 454px;
        width: fit-content;
        display: flex;
    }

    .inputBorder {
        width: 60%;
        height: 46px;
        max-width: 312px;
        margin-right: 27px;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .categorys p {
        font-weight: bold;
        font-size: 16px;
    }
}

@media(max-width: 920px) {
    .headline_searchAddTask p {
        margin-right: 15px;
    }
}

@media(max-width:860px) {
    .searchInputField button {
        margin-right: 50px;
        width: 50%;
        font-size: 14px;
    }
}

@media(max-width:710px) {
    .headline_searchAddTask {
        padding-right: 10px;
         }

    .inputBorder {
        margin-left: 10px;
        margin-right: 18px;
    }

    .searchInputField button {
        margin-right: 20px;
        font-size: 12px;
        padding: 5px;
    }
}

@media(max-width:570px){
    .headline_searchAddTask {
        display: block;
        position: sticky;
        top: -49px;
        left: -440px;
        padding-right: 10px;
        padding-left: 10px;
        flex-direction: row-reverse;
        height:232px;
    }

    .headline_searchAddTask p {
        margin-top: 48px;
        margin-bottom: 40px;
        margin-left:10px;
    }

    .searchInputField {
        min-width:304px;
    }
}

@media(max-width:428px) {

    .mainAria {
        
        min-height: calc(100vh - 160px);
        position: relative;
    }

    .addTaskButton {
        display: none;
    }

    .inputBorder {
        margin-right: 22px;
        height: 48px;
        width: 86vw;
        max-width: 396px;
        box-sizing: border-box;
    }

    #shortAddButton{
        content:url(/img/icons/add-task-mobile.svg);
        display:block;
        position:absolute;
        width:40px;
        height:40px;
        top:65px;
        right:20px;
        cursor: pointer;
    }

    .add-task-popup {
        max-width: 1116px;
        height: 870px;
        position: fixed;
        right: 12000px;
        transform: translateY(-50%);
        padding: 64px 65, 75px 64px 74px;
        border-radius: 10px;
        width: 100%;
        transition: all 0.4s ease;
        display: flex;
        flex-direction: column;
        background: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        z-index: 5;
    }
}