
@media(max-width:710px) {
    .DragAndDropTaskAria {
        width: 100%;
        max-width: 710px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto 1fr auto 1fr auto 1fr;
        /* Headers + Content für 2 Spalten */
        gap: 0px;
        box-sizing: border-box;
        /* height: calc(1074px - 296px - 80px - 60px); */
        height: calc(712px - 80px);
        padding: 8px 0px 0px 24px;
    }

    .TodoMobile {
        justify-content: space-between;
        align-items: center;
        width: 220px;
        height: 15px;
        grid-row: 1;
        grid-column: 1;

    }

    .InprogressMobile {
        justify-content: space-between;
        align-items: center;
        width: 220px;
        height: 15px;
        grid-row: 3;
        grid-column: 1;

    }

    .AwaitfeedbackMobile {
        justify-content: space-between;
        align-items: center;
        width: 220px;
        height: 15px;
        grid-row: 5;
        grid-column: 1;

    }

    .DoneHeadlineMobile {

        grid-row: 7;
        grid-column: 1;
        font-weight: bold;
        margin-bottom: 10px;

    }

    .Todo {
        /* min-height:270px; */
        /* margin: 39px 0px 0px 0px; */
        display: flex;
        height: max-content;
        grid-row: 2;
        grid-column: 1;
        gap: 34px;
    }

    .Inprogress {
        overflow-y: hidden;
        display: flex;
        height: max-content;
        grid-row: 4;
        grid-column: 1;
        gap: 34px;
    }

    .AwaitFeedback {
        display: flex;
        height: max-content;
        grid-row: 6;
        grid-column: 1;
        gap: 34px;
    }

    .Done {
        display: flex;
        height: max-content;
        grid-row: 8;
        grid-column: 1;
        gap: 34px;
    }

    .TaskDiv {
        cursor: pointer;
        min-width: 222px;
        max-height: 263px;
        background-color: rgb(255, 255, 255, 1);
        padding: 16px 16px;
        margin: 16px 0px 26px 4px;
        border-radius: 24px;
        box-shadow: 0px 0px 10px 3px rgb(0, 0, 0, 0.08);
        box-sizing: border-box;
    }

    /* mit before headlines direkt über dem Inhalt */
    .TodoMobile,
    .InprogressMobile,
    .AwaitfeedbackMobile {
        display: flex;
        font-weight: bold;
    }

    .TodoMobile img,
    .InprogressMobile img,
    .AwaitfeedbackMobile img {
        cursor: pointer;
    }


    /* Verstecke die original Headline-Divs */
    .TodoHeadline,
    .InprogressHeadline,
    .AwaitfeedbackHeadline,
    .DoneHeadline {
        display: none;
    }
}

@media(max-width:428px) {
    .DragAndDropTaskAria {
        position: absolute;
        left: -63px;
        top: 222px;
        width: 100%;
        min-width: max-content;
        max-width: 828px;
        height: calc(977px - 296px - 80px - 60px);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto 1fr auto 1fr auto 1fr;
        /* Headers + Content für 2 Spalten */
        gap: 0px;
        padding: 18px 0px 0px 24px;
        min-height: 545px;
    }

    .TodoMobile {
        position: relative;
        left: 65px;
        justify-content: space-between;
        align-items: center;
        max-width: 396px;
        width: calc(100vw - 46px);
        height: 15px;
        grid-row: 1;
        grid-column: 1;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .InprogressMobile {
        position: relative;
        left: 68px;
        justify-content: space-between;
        align-items: center;
        max-width: 396px;
        width: calc(100vw - 46px);
        height: 15px;
        grid-row: 3;
        grid-column: 1;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .AwaitfeedbackMobile {
        position: relative;
        left: 68px;
        justify-content: space-between;
        align-items: center;
        max-width: 396px;
        width: calc(100vw - 35px);
        height: 15px;
        grid-row: 5;
        grid-column: 1;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    .DoneHeadlineMobile {
        margin: 0 auto;
        grid-row: 7;
        grid-column: 1;
        font-weight: bold;
        margin-bottom: 10px;
        position: relative;
        left: -28px;
        justify-content: space-between;
        align-items: center;
        width: 220px;
        height: 15px;
    }

    .Todo {
        display: flex;
        height: max-content;
        position: relative;
        left: 63px;
        min-height: 270px;
        grid-row: 2;
        grid-column: 1;
        gap: 34px;
        min-width: 260px;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        /* margin: 39px 0px 0px 0px; */
    }




    .Inprogress {
        display: flex;
        height: max-content;
        position: relative;
        left: 63px;
        min-height: 270px;
        grid-row: 4;
        grid-column: 1;
        gap: 34px;
        min-width: 409px;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        /* margin: 39px 0px 0px 0px; */
    }


    .AwaitFeedback {
        display: flex;
        height: max-content;
        position: relative;
        left: 63px;
        min-height: 270px;
        grid-row: 6;
        grid-column: 1;
        gap: 34px;
        min-width: 409px;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        /* margin: 39px 0px 0px 0px; */
    }

    .Done {
        display: flex;
        height: max-content;
        position: relative;
        left: 63px;
        min-height: 270px;
        grid-row: 8;
        grid-column: 1;
        gap: 34px;
        min-width: 409px;
        overflow-x: scroll;
        overflow-y: hidden;
        scrollbar-width: none;
        /* margin: 39px 0px 0px 0px; */
    }

    .TaskDiv {
        cursor: pointer;
        min-width: 222px;
        max-width: min-content;
        margin: 16px 6px 26px 6px;
        max-height: 263px;
        background-color: rgb(255, 255, 255, 1);
        padding: 16px 16px;
        border-radius: 24px;
        box-shadow: 0px 0px 10px 3px rgb(0, 0, 0, 0.08);
        box-sizing: border-box;
    }

    /* mit before headlines direkt über dem Inhalt */
    .TodoMobile,
    .InprogressMobile,
    .AwaitfeedbackMobile {
        display: flex;
        font-weight: bold;

    }

    .TodoMobile img,
    .InprogressMobile img,
    .AwaitfeedbackMobile img {
        cursor: pointer;
        display: block;
        position: sticky;
        right: 25px;
        overflow-x: clip;
        overflow-y: visible;
        box-sizing: border-box;
    }

    /* Verstecke die original Headline-Divs */
    .TodoHeadline,
    .InprogressHeadline,
    .AwaitfeedbackHeadline,
    .DoneHeadline {
        display: none;
    }

}