@media(max-width:1280px) {
    .categorys {

        gap: 34.67px;
        /* width: 100%;
        max-width: 890px; */
        padding: 0px 74px 0px 24px;
    }
}


@media (max-width: 1135px) {

    .headline_searchAddTask {
        padding-left: 40px;
        padding-right: 76px;

    }

    .headline_searchAddTask p {
        font-size: 51px;
    }

    .searchInputField button {
        margin-right: 50px;
        width: 50%;
    }

    .searchInputField {
        max-width: 454px;
        width: fit-content;
        display: flex;
    }

    .inputBorder {
        width: 60%;
        height: 46px;
        max-width: 312px;
        margin-right: 27px;
        border: 1px solid black;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .categorys p {
        font-weight: bold;
        font-size: 16px;
    }


}

@media(max-width: 920px) {
    .headline_searchAddTask p {
        margin-right: 15px;
    }
}

@media(max-width:860px) {
    .searchInputField button {
        margin-right: 50px;
        width: 50%;
        font-size: 14px;
    }
}

@media(max-width:820px) {
    /* .headline_searchAddTask {
        display: block;
    } */
}

@media(max-width:710px) {
    .headline_searchAddTask {
        padding-right: 10px;
        /* padding-left: 10px; */
    }

    .inputBorder {
        margin-left: 10px;
        margin-right: 18px;
    }

    .searchInputField button {
        margin-right: 20px;
        font-size: 12px;
        padding: 5px;
    }
}

@media(max-width:570px){
    .headline_searchAddTask {
        display: block;
        position: sticky;
        top: -49px;
        left: -440px;
        padding-right: 10px;
        padding-left: 10px;
        flex-direction: row-reverse;
    }

    .headline_searchAddTask p {
        margin-top: 48px;
        margin-bottom: 40px;
        margin-left:10px;
    }

    .searchInputField {
        min-width:424px;
    }
}

@media(max-width:428px) {

    .mainAria {
        max-height: unset;
        min-height: calc(1024px - 160px);
        position: relative;
    }


    /* .headline_searchAddTask {
        display: block;
        position: sticky;
        top: -49px;
        left: -440px;
        padding-right: 10px;
        padding-left: 10px;
        flex-direction: row-reverse;
    } */

    


    .addTaskButton {
        display: none;
    }

    .inputBorder {
        margin-right: 22px;
        height: 48px;
        /* margin-left: 15px; */
        width: 93vw;
        max-width: 396px;
        box-sizing: border-box;

    }

    #shortAddButton{
        display:block;
        position:absolute;
        top:65px;
        right:20px;
        cursor: pointer;
    }

    .add-task-popup {
        max-width: 1116px;
        height: 870px;
        position: fixed;
        /* top: 72%; */
        right: 12000px;
        transform: translateY(-50%);
        padding: 64px 65, 75px 64px 74px;
        border-radius: 10px;
        width: 100%;
        transition: all 0.4s ease;
        display: flex;
        flex-direction: column;
        background: white;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        z-index: 5;
    }
}