@media(max-width:1280px) {
    .DragAndDropTaskAria {
        gap: 26px;
        padding: 8px 74px 0px 24px;
        height: 100vh;
    }

    .Todo {
        width: 100%;
        max-width: 222px;
        height: calc(100% - 100px);
        max-height: 100vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .Inprogress {
        width: 100%;
        max-width: 222px;
        height: calc(100% - 100px);
        max-height: 100vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .AwaitFeedback {
        width: 100%;
        max-width: 222px;
        height: calc(100% - 100px);
        max-height: 100vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .Done {
        width: 100%;
        max-width: 222px;
        height: calc(100% - 100px);
        max-height: 100vh;
        overflow-y: scroll;
        scrollbar-width: none;
    }

    .TaskDiv {
        cursor: pointer;
        margin: 4px 4px 16px 4px;
        max-height: 263px;
        background-color: rgb(255, 255, 255, 1);
        padding: 16px 16px;
        border-radius: 24px;
        box-shadow: 0px 0px 10px 3px rgb(0, 0, 0, 0.08);
    }

    .back {
        width: 88px;
    }

    .türkis {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 93px;
        height: 27px;
        padding: 4px 1px;
        margin-bottom: 24px;
        border-radius: 8px;
        background: rgba(31, 215, 193, 1);
        color: white;
        font-size: 12px;
    }

    .MiniMenüButton {
        display: none;
    }
}

@media(max-width:1180px) {
    .emptyCategory {
        font-size: 12px;
        margin: 16px 0px 26px 4px;
    }

    .MiniMenüButton {
        display: none;
    }
}

@media(max-width: 1120px) {
    .MiniMenüButton {
        display: none;
    }

    .taskTitle p {
        font-size: 13px;
    }

    .taskDescription p {
        font-size: 12px;
    }
}

@media(max-width:1070px) {
    .categorys {
        display: none;
    }

    .MiniMenüButton {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 16px;
        width: 26px;
        height: 24px;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
    }

    .MiniMenüButton img {
        width: 26px;
        height: 24px;
        padding-top: 2px;
        padding-right: 3px;
        padding-bottom: 2px;
        padding-left: 3px;
        gap: 4px;
    }

    .miniMenüResponsiv {
        display: block;
        position: absolute;
        right: -98px;
        width: 106px;
        height: 113px;
        color: white;
        background-color: #2a3647;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        z-index: 25;
    }

    .miniMenüResponsiv>p>img {
        /* margin-left: -10px; */
        width: 20px;
        height: 20px;
    }

    .head {
        font-size: 16px;
        margin: 0px 0px 5px 15px;
        padding: 4px 5px 4px 2px;
    }

    .firstLine {
        margin: 16px 8px 4px 8px;
        padding: 4px 46px 4px 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 16px;
    }

    .firstLine:hover {
        background-color: rgba(9, 25, 49, 1);
        border-radius: 8px;
    }

    .secondLine {
        margin: 0px 8px 16px 8px;
        padding: 4px 5px 4px 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10 auto;
        font-size: 16px;
    }

    .secondLine:hover {
        background-color: rgba(9, 25, 49, 1);
        border-radius: 8px;
    }



    .DragAndDropTaskAria {
        width: 100%;
        max-width: 890px;
        display: grid;
        grid-template-columns: 1fr;
        box-sizing: border-box;
        max-height: calc(100vh - 335.13px);
        height: 100%;
        padding: 8px 0px 0px 24px;
        gap: 0px;
        overflow-y: scroll;
    }


    .TaskDiv {
        min-width: 212px;
        position: relative;
        max-width: 212px;
        height: 325px;
        /* margin: 16px 0px 26px 4px; */
    }

    .TodoMobile {
        justify-content: space-between;
        align-items: center;
        width: 220px;
        height: 15px;
        grid-row: 1;
        grid-column: 1;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .InprogressMobile {
        justify-content: space-between;
        align-items: center;
        width: 220px;
        height: 15px;
        grid-row: 3;
        grid-column: 1;
        margin-bottom: 10px;
    }

    .AwaitfeedbackMobile {
        justify-content: space-between;
        align-items: center;
        width: 220px;
        height: 15px;
        grid-row: 5;
        grid-column: 1;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .DoneHeadlineMobile {
        justify-content: space-between;
        align-items: center;
        width: 220px;
        height: 15px;
        grid-row: 7;
        grid-column: 1;
        font-weight: bold;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    .Todo {
        display: flex;
        gap: 34px;
        grid-row: 2;
        grid-column: 1;
        height: 100%;
        max-height: 335px;
        width: 100%;
        max-width: 93vw;
        min-height:310px;
        overflow-x: scroll;
    }

    .Inprogress {
        display: flex;
        gap: 34px;
        grid-row: 4;
        grid-column: 1;
        height: max-content;
        width: 100%;
        min-width: 450px;
        scrollbar-width: none;
        max-width: 100vw;
        min-height: 310px;
        overflow-x: scroll;
    }


    .AwaitFeedback {
        display: flex;
        gap: 34px;
        grid-row: 6;
        grid-column: 1;
        height: max-content;
        width: 104%;
        max-width: 100vw;
        min-height: 310px;
        overflow-x: scroll;
    }

    .Done {
        display: flex;
        /* margin: 39px 0px 39px 0px; */
        width: 100%;
        max-width: 100vw;
        height: 100%;
        min-height: 310px;
        overflow-x: scroll;
        max-height: 688px;
        gap: 34px;
    }


    /* mit before headlines direkt über dem Inhalt */
    .TodoMobile,
    .InprogressMobile,
    .AwaitfeedbackMobile,
    .DoneHeadlineMobile {
        display: flex;
        font-weight: bold;
    }

    .TodoMobile img,
    .InprogressMobile img,
    .AwaitfeedbackMobile img {
        cursor: pointer;
    }

    /* Verstecke die original Headline-Divs */
    .TodoHeadline,
    .InprogressHeadline,
    .AwaitfeedbackHeadline,
    .DoneHeadline {
        display: none;
    }
}

@media(max-width:1000px) {

    .DragAndDropTaskAria {
        width: 100%;
        max-width: calc(101vw);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto 1fr auto 1fr auto 1fr;
        /* Headers + Content für 2 Spalten */
        box-sizing: border-box;
        /* min-height: 632px; */
        max-height: calc(73vh - 90px);
        padding: 8px 0px 0px 24px;
        gap: 0px;
    }
}