@media(max-width:710px) {
    .editBigView {
        height: 590px;
        overflow-y: scroll;
    }

    .input-section-left-inputEditView {
        max-width: 375px;
    }

    .input-section-leftEditView textarea {
        max-width: 375px;
    }

    .dateEditView {
        max-width: 366px;
    }

    .priority-sectionEdit {
        max-width: 419px;
    }

    .section-right-selectEditView {
        max-width: 385px;
    }

    .subtask-wrapperEditView {
        max-width: 385px;
        align-items: baseline;
    }


}

@media(max-width:570px) {


    .input-section-leftEditView {
        height: 346px;
    }

    .input-section-left-inputEditView {
        max-width: 350px;
    }

    .input-section-leftEditView textarea {
        margin-bottom: 15px;
        max-width: 350px;
    }

    #task-descriptionEdit {
        max-height: 60px;
    }

    #priO {
        margin: 10px 0px;
    }

    .dateEditView {
        margin-bottom: 20px;
        max-width: 340px;
    }

    .priority-sectionEdit {
        max-width: 394px;
    }

    .section-right-selectEditView {
        max-width: 360px;
    }

    .subtask-wrapperEditView {
        max-width: 284px;
        align-items: baseline;
    }
}

@media(max-width:475px) {
    .editBigView {
        height: 515px;
    }

    .input-section-leftEditView {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 320px;
        height: 376px;
    }

    .input-section-right-EditView {
        max-width: 320px;
        width: 110%;
        font-size: 20px;
    }

    .inputPopupEditView{
        max-width: 280px;
    }
}

@media(max-width:428px) {
    .editBigView {
        height: 660px;
    }
}



@media(max-width:370px) {
    .editBigView {
        height: 620px;
        width: calc(96% + 10px);
    }

    .footerPopupEditView {
        height: 20px;
        max-height: 30px
    }

    .input-section-left-inputEditView {
        max-width: 230px;
    }

    .input-section-leftEditView textarea {
        margin-bottom: 15px;
        max-width: 230px;
    }

    .dateEditView {
        margin-bottom: 20px;
        max-width: 221px;
    }

    .priority-sectionEdit {
        gap: 10px;
        max-width: 274px;
    }

    .priority-sectionEdit button {
        max-width: 221px;
        font-size: 15px;
    }

    .section-right-selectEditView {
        max-width: 240px;
    }

    .subtask-wrapperEditView {
        max-width: 240px;
        align-items: baseline;
    }
}