@media(min-width:1280px) and (max-width:1280px) and (min-height:800px) and (max-height:800px) {
    .add-task-popup.show {
        max-width: 100vw;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        left: 0px;
        top: 0px;
        border-radius: unset;
        box-sizing: border-box;
        overflow-x: hidden;
        background-color: rgb(0, 0, 0, 0.5);
        transform: unset;
    }

    .popup-header {
        padding-top: 40px;
    }


    .addTaskPopupMain {
        max-width: 1160px;
        width: 100%;
        height: 100%;
        max-height: 700px;
        margin: 48px auto;
    }

    .footerPopup {
        /* gap:370px; */
        margin-left: 74px;
        margin-right: 65.75px;
        margin-top: 125px;
    }
}

@media(min-width:1024px) and (max-width:1025px) and (min-height:1366px) and (max-height:1366px) {
    .add-task-popup.show {
        max-width: 100vw;
        height: 100%;
        max-height: 100vh;
        left: 0px;
        top: calc(0px);
        border-radius: unset;
        box-sizing: border-box;
        overflow-x: hidden;
        background-color: rgb(0, 0, 0, 0.5);
    }

    .addTaskPopupMain {
        max-width: 960px;
        margin: 248px auto;
    }
}

@media(min-width:1024px) and (max-width:1025px) and (min-height:600px) and (max-height:600px) {
    .add-task-popup.show {
        max-width: 100vw;
        height: 100%;
        max-height: 100vh;
        left: 0px;
        top: calc(0px);
        border-radius: unset;
        box-sizing: border-box;
        overflow-x: hidden;
        background-color: rgb(0, 0, 0, 0.5);
    }

    .addTaskPopupMain {
        max-width: 850px;
        margin: 17.5px auto;
        height: 565px;
        overflow-y: scroll;
    }

    .footerPopup {
        width: 700px;
        gap: 230px;
    }
}

@media (min-width:912px) and (max-width: 1000px) and (min-height:1368px) and (max-height:1368px) {

    .addTaskPopupMain {
        max-width: 862px;
        height: 1230px;
        max-height: 1230px;
        margin: 27.5px auto;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100vw;
        margin: 35px auto;
    }

    .add-task-popup.show {
        max-width: 912px;
        height: calc(100vh - 163px);
        left: 0px;
        top: calc(0px + 83px);
        border-radius: unset;
        background-color: rgb(0, 0, 0, 0.5);
    }

    .input-containerPopup {
        gap: 25px;
    }

    .footerPopup {
        margin-top: 135px;
        margin-left: 100px;
        gap: 100px;
    }
}

@media(min-width:852px) and (max-width:859px) and (max-height:1280px) {
    .addTaskPopupMain {
        max-width: 680px;
        height: 1300px;
        max-height: 1300px;
        margin: 10px auto;
    }

    .add-task-popup.show {
        max-width: 858px;
        height: 1120px;
        left: 0px;
        top: calc(0px + 80px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .footerPopup {
        margin-top: 140px;
        margin-bottom: 10px;
    }
}

@media(min-width:820px) and (max-width:821px) and (max-height:1180px) {
    .add-task-popup.show {
        max-width: 820px;
        height: 1019px;
        left: 0px;
        top: calc(0px + 80px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .addTaskPopupMain {
        max-width: 560px;
        max-height: 970px;
        height: 100%;
        margin: 50px auto;
    }

    .footerPopup {
        gap: 20px;
        margin-left: 15px;
        width: 500px;
    }
}

@media(min-width:768px) and (max-width:770px) and (max-height:1024px) {
    .add-task-popup.show {
        max-width: 768px;
        height: 864px;
        left: 0px;
        top: calc(0px + 80px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .addTaskPopupMain {
        max-width: 560px;
        height: 830px;
        margin: 17px auto;
    }

    .footerPopup {
        gap: 30px;
        width: 540px;
        margin-left: 15px;
    }
}

@media(min-width:540px) and (max-width:540px) and (max-height:720px) {
    .addTaskPopupMain {
        max-width: 460px;
        max-height: calc(520px);
        height: 100%;
        margin: 25px auto;
    }

    .add-task-popup.show {
        max-width: 100vw;
        width: 100%;
        left: 0px;
        top: calc(0px + 80px);

    }

    .footerPopup {
        flex-direction: column;
        max-width: 360px;
        font-size: 12px;
        margin-bottom: 34px;
        margin-left: 53px;
        margin-right: 0.75px;
        margin-top: 145px;
    }
}

@media (min-width:425px) and (max-width:435px) and (min-height:930px) and (max-height:935px) {
    .add-task-popup {
        top: 20px;
    }

    .addTaskPopupMain {
        max-width: 430px;
        height: 772px;
        margin: unset;
        border-radius: unset;
    }

    .add-task-popup.show {
        max-width: 430px;
        height: 772px;
        left: 0px;
        top: calc(0px + 80px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .footerPopup {
        margin-bottom: 64px;
        margin-left: 20px;
        margin-right: 0.75px;
        margin-top: 130px;
    }

    .countInfoPopup {
        top: 210px;
        right: 60px;
        width: 30px;
    }

    .input-section-leftPopup label {
        font-size: 16px !important;
    }

    .input-section-left-input {
        font-size: 16px !important;
    }

    textarea {
        font-size: 16px !important;
    }

    .date-input {
        font-size: 16px !important;
    }

    .input-section-rightPopup label {
        font-size: 16px !important;
    }

    .priority-section button {
        font-size: 16px !important;
    }

    .section-right-select {
        font-size: 16px !important;
    }

    .input-section-leftPopup {
        width: 260px;
    }

    .input-section-rightPopup {
        width: 260px;
    }

    .priority-section {
        gap: unset !important;
    }

    .priority-section button {
        gap: 4px !important;
    }

    .inputPopup {
        width: 218px;
        font-size: 16px !important;
    }

    .clear-btn {
        font-size: 16px !important;
    }

    .create-task-btn {
        font-size: 16px !important;
    }

    .popup-header {
        padding-left: 44px;
    }

    .footer-buttons-section {
        position: fixed;
        bottom: 78px;
        width: 100%;
        max-width:100%;
        padding: 10px 0px;
        padding-left:70px;
        gap: 70px;
        justify-content: center;
        background-color: #f8f5f5;
        /* background-color: red; */
    }

    .footerPopup {
        margin-left: 0px;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 140px;
        margin-bottom:74px;
        gap: 10px;
        max-width:100%;
        z-index: 3;
    }
}


/* Dimension: Iphone XR */
@media(min-width:404px) and (max-width:414px) and (min-height:885px) and (max-height:896px) {
    .add-task-popup.show {
        max-width: 415px;
        height: 755px;
        left: calc(0px);
        top: calc(0px + 80px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .addTaskPopupMain {
        border-radius: 30px;
        max-width: 414px;
        height: 764px;
        border-radius: unset;
        margin: unset;
    }

    .countInfoPopup {
        top: 200px;
        right: 120px;
        width: 30px;
    }

    .footer-buttons-section {
        position: fixed;
        bottom: 78px;
        width: 100%;
        max-width:100%;
        padding: 10px 0px;
        padding-left:70px;
        gap: 70px;
        justify-content: center;
        background-color: #f8f5f5;
        /* background-color: red; */
    }

    .footerPopup {
        margin-left: 0px;
        flex-direction: column;
        margin-left: 0px;
        margin-top: 140px;
        margin-bottom:74px;
        gap: 10px;
        max-width:100%;
        z-index: 3;
    }
}

/* Dimension: Pixel 7 */
@media(min-width:410px) and (max-width:415px) and (min-height:910px) and (max-height:915px) {
    .add-task-popup.show {
        max-width: 415px;
        height: 755px;
        left: 0px;
        top: calc(0px + 80px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .addTaskPopupMain {
        border-radius: unset;
        max-width: 412px;
        height: 755px;
        margin: unset;
    }

    .countInfoPopup {
        top: 200px;
        right: 130px;
        width: 30px;
    }

    .footerPopup{
        width:100%;
        max-width:90%;
        margin-left:0px;
        padding-right:20px;
    }

    .footer-buttons-section {
        position: fixed;
        bottom: 80px;
        gap: 50px;
        width:100%;
        max-width:100%;
        margin:0px;
        padding: 14px 20px;
        justify-content: right;
        background-color: #f8f5f5;
    }
}

/* Dimension: Iphone 12 Pro */
@media(min-width: 385px) and (max-width:395px) and (min-height:834px) and (max-height:844px) {
    .addTaskPopupMain {
        max-width: 390px;
        height: 684px;
        border-radius: unset;
        margin: unset;
    }

    .add-task-popup.show {
        max-width: 390px;
        height: 685px;
        left: 0px;
        top: calc(0px + 80px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .countInfoPopup {
        top: 195px;
        right: 130px;
        width: 30px;
    }

    .footerPopup{
        width:100%;
        max-width:90%;
        margin-left:0px;
        padding-right:20px;
    }

    .footer-buttons-section {
        position: fixed;
        bottom: 80px;
        gap: 50px;
        width:100%;
        max-width:100%;
        margin:0px;
        padding: 14px 20px;
        justify-content: right;
        background-color: #f8f5f5;
    }
}

/* Diminsion: Iphone SE */
@media(min-width:365px) and (max-width:375px) and (max-height:667px) {
    .add-task-popup.show {
        max-width: 100vw;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        left: 0px;
        top: calc(0px + 80px);
        border-radius: unset;
        box-sizing: border-box;
        overflow-x: hidden;
        background-color: rgb(0, 0, 0, 0.5);
        transform: unset;
    }

    .addTaskPopupMain {
        max-width: 375px;
        height: 507px;
        margin: unset;
        border-radius: unset;
    }

    .countInfoPopup {
        top: 200px;
        right: 120px;
        width: 30px;
    }

    .footerPopup{
        width:100%;
        max-width:90%;
        margin-left:0px;
        padding-right:20px;
    }

    .footer-buttons-section {
        position: fixed;
        bottom: 80px;
        gap: 50px;
        width:100%;
        max-width:100%;
        margin:0px;
        padding: 14px 20px;
        justify-content: right;
        background-color: #f8f5f5;
    }
}


@media(min-width:360px) and (max-width:360px) and (min-height:780px) and (max-height:780px) {
    .addTaskPopupMain {
        max-width: 350px;
        height: 590px;
        margin: 14px auto;
        border-radius: 30px;
    }

    .add-task-popup.show {
        max-width: 373px;
        height: calc(100vh - 160px);
        left: 0px;
        top: calc(0px + 80px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .countInfoPopup {
        top: 200px;
        right: 120px;
        width: 30px;
    }
}

@media (min-width:360px) and (max-width:360px) and (max-height:740px) {
    .addTaskPopupMain {
        max-width: 350px;
        height: 550px;
        margin: 15px auto;
        border-radius: 30px;
    }

    .add-task-popup.show {
        max-width: 373px;
        height: calc(100vh - 160px);
        left: 0px;
        top: calc(0px + 82px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }
}

@media (min-width:372px) and (max-width:374px) and (max-height:741px) {
    .addTaskPopupMain {
        max-width: 330px;
        height: 590px;
        margin: 14px auto;
        border-radius: 30px;
    }

    .add-task-popup.show {
        max-width: 373px;
        height: calc(100vh - 160px);
        left: calc((100vw - 360px)/2);
        top: calc((100vh - 0px)/2);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }
}

@media(min-width:343px) and (max-width:345px) and (max-height:882px) {
    .add-task-popup.show {
        max-width: 100vw;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        left: 0px;
        top: calc(0px + 80px);
        border-radius: unset;
        box-sizing: border-box;
        overflow-x: hidden;
        background-color: rgb(0, 0, 0, 0.5);
        transform: unset;
    }

    .addTaskPopupMain {
        max-width: 325px;
        height: 680px;
    }

    .input-section-leftPopup {
        width: 315px;
        margin-left: unset;
    }

    .input-section-rightPopup {
        width: 315px;
    }

    .priority-section {
        width: 310px;
        margin-left: 5px;
    }

    .priority-section button {
        width: 90px;
    }

    .button.Medium {
        gap: 5px;
        width: 96px;
    }
}

@media(min-width:320px) and (max-width:342px) {
    .add-task-popup.show {
        max-width: 100vw;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        left: 0px;
        top: calc(0px + 80px);
        border-radius: unset;
        box-sizing: border-box;
        overflow-x: hidden;
        background-color: rgb(0, 0, 0, 0.5);
        transform: unset;
    }

    .addTaskPopupMain {
        max-width: 300px;
        margin: auto auto;
    }

    .input-section-leftPopup {
        width: 280px;
        margin-left: unset;
        /* here the width is changed to fit the screen */
    }

}

/* Dimension: Galaxy S9+ */
@media(min-width:315px) and (max-width:321px) and (min-height:650px) and (max-height:658px) {
    .addTaskPopupMain {
        max-width: 320px;
        height: 498px;
        width: 100%;
        border-radius: unset;
        /* margin: 25px auto; */
    }

    .countInfoPopup {
        top: 220px;
        right: 70px;
        width: 30px;
    }


    .add-task-popup.show {
        max-width: 320px;
        height: 497px;
        left: calc((100vw - 320px)/2);
        top: calc(0px + 82px);

    }

    .input-section-leftPopup {
        width: 280px;
        margin-left: unset;
    }

    .input-section-rightPopup {
        width: 280px;
    }

    .priority-section {
        width: 280px;
    }

    .priority-section button {
        width: 80px;
    }

    .button.Medium {
        gap: 5px;
        width: 96px;
    }

    /* .inputPopup {
        width: 271px;
    } */

    .footer-buttons-section {
        position: fixed;
        bottom: 78px;
        width: 100%;
        padding: 10px 6px;
        gap: 30px;
        justify-content: right;
        background-color: #f8f5f5;
        /* background-color: red; */
    }

    .footerPopup {
        margin-left: 0px;
        flex-direction: column;
        margin-left: -20px;
        margin-top: 160px;
        gap: 10px;
        z-index: 3;
    }

    .popup-header {
        background-color: #f8f5f5;
        z-index: 3;
    }

    .inputPopup {
        width: 236px;
    }
}


@media (min-width:360px) and (max-width:360px) and (max-height:740px) {
    .addTaskPopupMain {
        max-width: 350px;
        height: 590px;
        margin: 14px auto;
        border-radius: 30px;
    }

    .input-section-leftPopup {
        width: 330px;
        margin-left: unset;
    }

    .input-section-rightPopup {
        width: 330px;
    }

    .inputPopup {
        width: 286px;
    }

    .button.Medium {
        width: 95px;
        gap: 4px;
    }

    .add-task-popup.show {
        max-width: 373px;
        height: calc(100vh - 160px);
        left: 0px;
        top: calc(0px + 80px);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }

    .countInfoPopup {
        top: 195px;
        right: 120px;
        width: 30px;
    }
}

@media (min-width:372px) and (max-width:374px) and (max-height:741px) {
    .addTaskPopupMain {
        max-width: 330px;
        height: 590px;
        margin: 14px auto;
        border-radius: 30px;
    }

    .add-task-popup.show {
        max-width: 373px;
        height: calc(100vh - 160px);
        left: calc((100vw - 360px)/2);
        top: calc((100vh - 0px)/2);
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: unset;
    }
}

@media(min-width:343px) and (max-width:345px) and (max-height:882px) {
    .add-task-popup.show {
        max-width: 100vw;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        left: 0px;
        top: calc(0px + 80px);
        border-radius: unset;
        box-sizing: border-box;
        overflow-x: hidden;
        background-color: rgb(0, 0, 0, 0.5);
        transform: unset;
    }

    .countInfoPopup {
        top: 195px;
        right: 110px;
        width: 30px;
    }

    .addTaskPopupMain {
        max-width: 325px;
        height: 680px;
        margin: 30px auto;
    }

    .footerPopup {
        margin-left: 15px;
    }

    .input-section-leftPopup {
        width: 314px;
        margin-left: unset;
    }

    .input-section-rightPopup {
        width: 314px;
    }

    .inputPopup {
        width: 270px;
    }

    .priority-section {
        width: 314px;
    }

    .priority-section button {
        width: 90px;
    }

    .button.Medium {
        gap: 5px;
        width: 96px;
    }
}