.privacy-wrapper {
    box-sizing: border-box;
    padding: 60px;
    height:calc(100vh - 96px);
    overflow-y: auto;
}

.active {
    background-color: #091931;
    
    padding: 5px 30px;
}

.privacy-headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.privacy-headline a img{
    display: none;
}

@media(max-width:1000px){
    .privacy-wrapper {
    box-sizing: border-box;
    padding: 60px;
    height:calc(100vh - 160px);
    overflow-y: auto;
}
}

@media (max-width: 900px) {
    .privacy-wrapper{
        margin-left:0px;
        margin-top:0px;
        padding: 5px;
        height: calc(100vh - 160px);
    }
}

@media(max-width: 600px){
    .privacy-wrapper{
        margin-left:0px;
        margin-top:0px;
        padding: 5px;
        height: calc(100vh - 160px);
    }
}

@media (max-width: 428px) {
    .privacy-wrapper {
        margin-left: 0px;
        margin-top: 0px;
        padding:5px;
        height: calc(100vh - 160px);
    }
    .privacy-headline a img{
        display: flex;
    }
}

@media(max-width:360px){
    .privacy-wrapper {
        margin-left: 0px;
        margin-top: 0px;
        padding:5px;
        height: calc(100vh - 160px);}
}