.privacy-wrapper {
    box-sizing: border-box;
    padding: 60px;
    height:calc(100vh - 96px);
    overflow-y: auto;
}

.privacy-headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.privacy-headline a img{
    display: none;
}

@media (max-width: 900px) {
    .privacy-wrapper{
        margin-left:16px;
        margin-top:16px;
        height: calc(1024px - 126px);
    }
}

@media (max-width: 428px) {
    .privacy-wrapper {
        margin-left: 16px;
        margin-top: 16px;
        height: calc(1024px - 206px);
    }
    .privacy-headline a img{
        display: flex;
    }
}