.contactBox{
    display: flex;
    height: 56px;
    border-radius: 10px;
    align-items: center;
    position:relative;
}

.checkbox{
    margin-left:220px;
    position:absolute;
    right:20px;
}

.checked{
    margin-left:220px;
    position:absolute;
    right:20px;
    content: url(/img/icons/checkedContactWhite.svg);
}

.checked:hover{
    background-image: url(/img/icons/hoverCheckedContact.svg);
}

.checkbox:hover{
    background-image: url(/img/icons/hoverCheckContact.svg);
}

.contactBox:hover{
    background-color: rgba(238, 238, 238, 1);
    cursor: pointer;
}

.contactBox:hover:has(.checked) {
    background-color: rgba(42, 54, 71, 1);   
}

.contactBox:has(.checked) {
   background-color: rgba(9, 25, 49, 1);
    color:white;
}

.choosenContacts{
    height:fit-content;
    width:470px;
    display: flex;
    justify-content:start;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    margin-top: 10px;
}

.contactCircleNormal {
    margin-right:16px;
    margin-left:16px;
    align-content: center;
    text-align: center;
    position: relative;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255, 1);
    border-radius: 45px;
    width:30px;
    height:30px;
    color:white;
    font-size: 12px;
}

.contactCircleNormalRender{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255, 1);
    border-radius: 45px;
    width:30px;
    height:30px;
    color:white;
    font-size: 12px;
}

.contactBox:first-child .contactCircleNormal {
    background-color: rgba(110, 82, 255, 1);
}

.contactBox:nth-child(2) .contactCircleNormal {
    background-color: rgba(31, 215, 193, 1);
}

.contactBox:nth-child(3) .contactCircleNormal {
    background-color: rgba(252, 113, 255, 1);
}

.contactBox:nth-child(4) .contactCircleNormal {
    background-color: rgba(195, 255, 43, 1);
}

.contactBox:nth-child(5) .contactCircleNormal {
    background-color: rgba(255, 187, 43, 1);
}

.contactBox:nth-child(6) .contactCircleNormal {
    background-color: rgb(255, 0, 0);
}

.contactBox:nth-child(7) .contactCircleNormal {
    background-color: rgba(110, 82, 255, 1);
}

.contactBox:nth-child(8) .contactCircleNormal {
    background-color: rgba(31, 215, 193, 1);
}

.contactBox:nth-child(9) .contactCircleNormal {
    background-color: rgba(252, 113, 255, 1);
}

.contactBox:nth-child(10) .contactCircleNormal {
    background-color: rgba(195, 255, 43, 1);
}

.contactBox:nth-child(11) .contactCircleNormal {
    background-color: rgba(255, 187, 43, 1);
}

.contactBox:nth-child(12) .contactCircleNormal {
    background-color: rgb(255, 0, 0);
}

.contactBox:nth-child(13) .contactCircleNormal {
    background-color: greenyellow;
}

.contactBox:nth-child(14) .contactCircleNormal {
    background-color: purple;
}

.contactBox:nth-child(15) .contactCircleNormal {
    background-color: rgba(31, 215, 193, 1);
}

.contactBox:nth-child(16) .contactCircleNormal {
    background-color: rgba(252, 113, 255, 1);
}

.contactBox:nth-child(17) .contactCircleNormal {
    background-color: rgba(195, 255, 43, 1);
}

.contactBox:nth-child(18) .contactCircleNormal {
    background-color: rgba(255, 187, 43, 1);
}

.contactBox:nth-child(19) .contactCircleNormal {
    background-color: rgb(255, 0, 0);
}

.contactBox:nth-child(20) .contactCircleNormal {
    background-color: rgba(110, 82, 255, 1);
}

.contactBox:nth-child(21) .contactCircleNormal {
    background-color: rgba(31, 215, 193, 1);
}

.contactBox:nth-child(22) .contactCircleNormal {
    background-color: rgba(252, 113, 255, 1);
}

.contactBox:nth-child(23) .contactCircleNormal {
    background-color: rgba(195, 255, 43, 1);
}

.contactBox:nth-child(24) .contactCircleNormal {
    background-color: rgba(255, 187, 43, 1);
}

.contactBox:nth-child(25) .contactCircleNormal {
    background-color: rgba(31, 215, 193, 1);
}

.contactBox:nth-child(26) .contactCircleNormal {
    background-color: rgba(252, 113, 255, 1);
}

.contactBox:nth-child(27) .contactCircleNormal {
    background-color: rgba(195, 255, 43, 1);
}

.contactBox:nth-child(28) .contactCircleNormal {
    background-color: rgba(255, 187, 43, 1);
}

.contactBox:nth-child(29) .contactCircleNormal {
    background-color: rgb(255, 0, 0);
}

.contactBox:nth-child(30) .contactCircleNormal {
    background-color: rgba(110, 82, 255, 1);
}

.contactBox:nth-child(31) .contactCircleNormal {
    background-color: rgba(31, 215, 193, 1);
}

.contactBox:nth-child(32) .contactCircleNormal {
    background-color: rgba(252, 113, 255, 1);
}

.contactBox:nth-child(33) .contactCircleNormal {
    background-color: rgba(195, 255, 43, 1);
}

.contactBox:nth-child(34) .contactCircleNormal {
    background-color: rgba(255, 187, 43, 1);
}

.contactBox:nth-child(35) .contactCircleNormal {
    background-color: rgb(196, 181, 156);
}

.contactCircleNormalRender:first-child {
    background-color: rgba(110, 82, 255, 1);
}

.contactCircleNormalRender:nth-child(2) {
    background-color: rgba(31, 215, 193, 1);
}

.contactCircleNormalRender:nth-child(3) {
  background-color:rgba(252, 113, 255, 1);
}

.contactCircleNormalRender:nth-child(4) {
    background-color:rgba(195, 255, 43, 1);
}

.contactCircleNormalRender:nth-child(5) {
    background-color:rgba(255, 187, 43, 1);
}

.contactCircleNormalRender:nth-child(6) {
    background-color: rgb(255, 0, 0);
}

.contactCircleNormalRender:nth-child(7) {
    background-color: rgb(154, 168, 76);
}

.dont-Show{
    display:none;
}

.countInfo{
    display:flex;

}

.section-right-select input:focus {
    border: none;
    outline: none;
}

.select-arrow-downC{
    transform: rotateX(0deg);
    transition: 500ms ease-in-out;
}

.select-arrow-downT{
    transform: rotateX(0deg);
    transition: 500ms ease-in-out;
}

.select-arrow-open{
    transform:rotateX(180deg);
    transition: 500ms ease-in-out;
}

.ForTaskChoise P{
    margin:0px;
}

.ForTaskChoise {
  max-width: 1920px;
  padding: 12px 16px;
  text-align: left;
  border: 1px solid #c8c8c8cc;
  border-radius: 7px;
  background: #fff;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  z-index: 1;
  position:relative;
}

.dropTasktypeOpen{
    display:flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 7px;
    border-left:0.5px solid rgb(160, 154, 154, 0.1);
    border-right:0.5px solid rgb(160, 154, 154, 0.1);
    border-bottom: 0.5px solid rgb(160, 154, 154, 0.1);
    box-shadow: 0px 0px 14px 3px rgb(0, 0, 0, 0.04);
    width: auto;
    height: 105px;
    padding-top:8px;
    position:relative;
    top: -8px;
    background-color: white;
    opacity: 1;
    z-index: 3px;
}

.dropTasktypeClose{
    max-height:0px;
    opacity: 0;
    transition: max-height 100ms ease-out, opacity 100ms ease-out;
}

.taskOption{
    z-index: 3;
    padding-top: 16px;
    padding-left:20px;
    width:418px;
    height:48px;
}

.taskOption:hover{
    background-color: rgb(194, 194, 194);
    border-radius: 7px;
    cursor: pointer;
}

.taskOption img:hover{
    content: url(/img/icons/select-arrow-downHover.svg);
}

.hidden-input:focus-visible{
    outline:none;
    border:none;
}

.hidden-input{
    outline:none;
    border:none;
}