

/* ==========handy media query===================================== */
@media(min-width:1400px) and (max-width:1440px) and (min-height:900px) and (max-height:900px) {
    .mainAreaRight {
        height: calc(100vh - 96px);
        /* overflow-y: scroll; */
    }
}

/* ==========handy media query===================================== */
@media(min-width:1300px) and (max-width:1366px) and (min-height:768px) and (max-height:768px) {
    .mainAreaRight {
        height: calc(100vh - 96px);
        overflow-y: scroll;
    }
}

/* ==========handy media query===================================== */
@media(min-width:820px) and (max-width:820px) and (max-height:1180px) {
    .mainAreaRight {
        height: 86vh;
    }
}
/* ==========handy media query===================================== */
@media(min-width:315px) and (max-width:325px) and (max-height:658px) {
    .footer-buttons-section {
        justify-content: center;
        margin-bottom: 30px;
        position:fixed;
        bottom:70px;
    }
}
/* ==========handy media query===================================== */
@media(min-width:370px) and (max-width:375px) and (max-height:668px) {
    .footer-buttons-section {
        justify-content: center;
        margin-bottom: 30px;
        position:fixed;
        bottom:70px;
    }
}
/* ==========handy media query===================================== */
@media(min-width:410px) and (max-width:420px) and (max-height:897px) {
    .footer-buttons-section {
        justify-content: center;
        margin-bottom: 30px;
        position:fixed;
        bottom:70px;
    }
}
/* ==========handy media query===================================== */
@media(min-width:385px) and (max-width:395px) and (max-height:845px) {
    .footer-buttons-section {
        justify-content: center;
        margin-bottom: 30px;
        position:fixed;
        bottom:70px;
    }
}
/* ==========handy media query===================================== */
@media(min-width:410px) and (max-width:420px) and (min-height:910px) and (max-height:920px) {
    .footer-buttons-section {
        justify-content: center;
        margin-bottom: 30px;
        position:fixed;
        bottom:70px;
    }
}
/* ==========handy media query===================================== */
@media(min-width:355px) and (max-width:365px) and (min-height:735px) and (max-height:745px) {
    .footer-buttons-section {
        justify-content: center;
        margin-bottom: 30px;
        position:fixed;
        bottom:70px;
    }
}
/* ==========handy media query===================================== */
@media(min-width:760px) and (max-width:770px) and (min-height:1020px) and (max-height:1030px) {
    .footer-buttons-section {
        justify-content: center;
    }
    
    .footer {
        position:fixed;
        bottom:10px;
        
        padding: 20px 0px;
        width:100vw;
        z-index: 10;
        background-color:#F6F7F8;
    }

    .mainAreaRight {
        height: 75vh;
    }

}


/* ==========handy media query===================================== */
@media(min-width:815px) and (max-width:825px) and (min-height:1175px) and (max-height:1185px) {
    .footer-buttons-section {
        justify-content: center;
    }
    
    .footer {
        position:fixed;
        bottom:10px;
        padding: 20px 0px;
        width:100vw;
        z-index: 10;
        background-color:#F6F7F8;
    }
    .mainAreaRight {
        height: 79vh;
    }
}
/* ==========handy media query===================================== */
@media(min-width:910px) and (max-width:920px) and (min-height:1360px) and (max-height:1370px) {
    .footer{
        margin-top:150px;
        margin-bottom: 0px;
    }
}
/* ==========handy media query===================================== */
@media(min-width:535px) and (max-width:545px) and (min-height:715px) and (max-height:725px) {
    .footer-buttons-section {
        justify-content: center;
        margin-bottom: 30px;
        position:fixed;
        bottom:70px;
    }

    .mainAreaRight {
        height: 69vh;
    }
}
/* ==========handy media query===================================== */
@media(min-width:340px) and (max-width:350px) and (min-height:880px) and (max-height:885px) {
    .footer-buttons-section {
        justify-content: center;
        margin-bottom: 30px;
        position:fixed;
        bottom:70px;
    }

    .mainAreaRight {
        height: 69vh;
    }
}
/* ==========handy media query===================================== */
@media(min-width:850px) and (max-width:855px) and (min-height:1275px) and (max-height:1285px) {
    .footer-buttons-section {
        justify-content: center;
    }
    
    .footer {
        position:fixed;
        bottom:10px;
        padding: 20px 0px;
        width:100vw;
        z-index: 10;
        background-color:#F6F7F8;
    }
    .mainAreaRight {
        height: 79vh;
    }
}
/* ==========handy media query===================================== */
@media(min-width:1020px) and (max-width:1025px) and (min-height:595px) and (max-height:605px) {
    .footer-buttons-section {
        justify-content: center;
    }
    
    .footer {
        position:fixed;
        bottom:1px;
        
        padding: 10px 0px;
        width:95vw;
        z-index: 10;
        background-color:#F6F7F8;
        /* background-color:red; */
    }

    .mainAreaRight {
        height: 68vh;
    }

}
/* ==========handy media query===================================== */
@media(min-width:1275px) and (max-width:1285px) and (min-height:795px) and (max-height:805px) {
    .footer-buttons-section {
        justify-content: center;
    }
    
    .footer {
        position:fixed;
        bottom:1px;
        
        padding: 10px 0px;
        width:95vw;
        z-index: 10;
        background-color:#F6F7F8;
        /* background-color:red; */
    }

    .mainAreaRight {
        height: 68vh;
    }

}
/* ==========handy media query===================================== */
@media(min-width:355px) and (max-width:365px) and (min-height:775px) and (max-height:785px) {
    .footer-buttons-section {
        justify-content: center;
        /* margin-bottom: 30px; */
        position:fixed;
        bottom:70px;
    }

    .footer {
        margin: 100px 0px 0px 0px;
    }

    .mainAreaRight {
        height: 72vh;
    }
}