@media(max-width:1272px) {
    .input-section-left, .input-section-right {
        width: 400px;
    }
}

@media(max-width:1196px) {
    .input-section-left {
        width: 340px;
        margin-left: 40px;
    }
}

@media(max-width:1196px) {
    .input-section-right {
        width: 340px;
    }
}

@media (max-width:1000px) {
    .mainAreaRight{
        overflow-x: hidden;
    }
    .mainAreaRight h1{
        font-size: 48px;
        margin-left: 40px;
    }
    .input-container{
        flex-direction: column;
        max-width: none;
        gap: 0;
    }
    .input-section-left{
        margin-left: 0;
    }
    .line{
        display: none;
    }
}


@media (max-width:940px) {
    .clear-btn{
        font-size: 16px;
    }
    .create-task-btn{
        font-size: 16px;
    }
}

@media (max-width:680px) {
    .footer{
        flex-direction: column;
    }
    .footer-buttons-section{
        justify-content: center;
        margin-bottom: 30px;
    }
}

@media(max-width:570px) {
    .input-section-left{
        width: 300px;
    }
    .input-section-right {
        width: 300px;
    }
    .mainAreaRight h1{
        font-size: 44px;
    }
    .input-section-left label {
        font-size: 16px;
    }
    .input-section-left-input{
        font-size: 16px;
    }
    textarea{
        font-size: 16px;
    }
    .input-section-right label{
        font-size: 16px;
    }
    .priority-section{
        flex-direction: column;
    }
    .priority-section button{
        font-size: 16px;
        width: auto;
    }
    .section-right-select{
        font-size: 16px;
    }
    .ForTaskChoise{
        font-size: 16px;
    }
    .ForTaskChoise p{
        font-size: 16px;
    }
    .input-section-right-input{
        font-size: 16px;
    }
    .input-container {
        padding-bottom: 120px;
    }
}

/* @media(max-width:520px) {
    .input-section-left{
        width: 240px;
    }
    .input-section-right {
        width: 240px;
    }
    .mainAreaRight h1{
        font-size: 42px;
    }
    .footer-buttons-section{
        gap: 4px;
    }
    
} */

/* @media(max-width:460px) {
    .input-section-left{
        width: 200px;
    }
    .input-section-right {
        width: 200px;
    }
    .mainAreaRight h1{
        font-size: 38px;
    }
} */

@media(max-width:428px) {
    .priority-section{
        flex-direction: row;
        justify-content: center;
        gap: 8px;
    }
    
    .input-section-left{
        width: 290px;
    }
    .input-section-right{
        width: 290px;
    }

    .mainAreaRight{
        height: 846px;
    }
    .input-container{
        padding-bottom: 0;
    }
}