.mainAreaRight{
    height: 928px;
    width: 100%;
}
.mainAreaRight h1{
    font-size: 61px;
    margin-left: 80px;
}
.input-section-right-input{
    max-width:440px;
    border-radius: 7px;
    border: 1px solid #c8c8c8;
    padding: 12px 21px;
    font-size: 20px;
}
.input-section-left-input{
    max-width:440px;
    border-radius: 7px;
    border: 1px solid #c8c8c8;
    padding: 12px 21px;
    font-size: 20px;
}
.date-input {
  background: url("../img/icons/event.svg");
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 24px; 
  padding-right: 30px;   
  background-color: #ffffff;
}
.section-right-select{
    max-width:440px;
    border-radius: 7px;
    border: 1px solid #c8c8c8;
    padding: 12px 16px;
    font-size: 20px;
    background-color: white;
    /* z-index: 1; */
    display: flex;
    justify-content: space-between;
}

.section-right-select p{
    margin: 0px;
    padding: 0px;
}

.section-right-select img:hover{
    content: url(/img/icons/select-arrow-downHover.svg);
}

.input-section-left-input:focus,
.input-section-right-input:focus,
.section-right-select:focus{
    border-color: #29ABE2;
    outline: none;
}
.input-section-left-input:hover,
.input-section-right-input:hover,
.section-right-select:hover{
    cursor: pointer;
}

.subtask-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;  
}

.subtask-wrapper .edit-input:focus{
   border:unset;
}

.subtask-list{
    padding: 12px 21px;
    display: flex;
}
.subtask-icon{
    position: absolute;
    right: 12px;
    top: 12px;
    align-items: center;
    align-self: end;
    gap: 4px;
    display: none;
}
.subtask:focus + .subtask-icon{
    display: flex !important;
}
.x:hover , .hook:hover{
    cursor: pointer;
    background: #D1D1D1;
    border-radius: 56px;
}
.delimiter{
    width: 0px;
    height: 20px;
    border: 1px solid #D1D1D1;
}
.ul-div {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.listed{
    margin-top: 8px;
    display: flex;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    align-items: center;
    height: 24px; 
}

.listed:hover{
    cursor: pointer;
    background: #e6e6e6;
    border-radius: 10px;
    .list-icon{
        display: flex !important;
    }
}

.dot{
    margin-right: 16px;
}
.list-icon{
    display: none;
    position: absolute;
    right: 12px;
    gap: 4px;
}

.pencil, .trash{
    width: 20px;
    height: 20px;
}

.edit-input{
    height: 34px;
    border: none;
    outline: none;
    border-radius: 0;
    padding-left: 16px;
    display: block;               
    width: 436px;
    margin-left: -16px;        
    margin-right: -16px; 
}

.edit-input:focus {
    border-bottom: 1px solid #29ABE2 !important;
}

 textarea{
    max-width: 1920px;
    height: 100px;
    border-radius: 7px;
    border: 1px solid #c8c8c8;
    padding: 12px 21px;
    font-size: 20px;
    font-family: arial, sans-serif;
    resize: none;
}
 textarea:hover{
    cursor: pointer;
}
 textarea:focus{
    border-color: #29ABE2;
    outline:none;
    outline: none;
}

.input-container{
    width: 100%;
    max-width: 976,25px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.input-section-left{
    display: flex;
    flex-direction: column;
    margin-left: 96px;
    width: 440px;
    height: 376px;
}
.input-section-left label{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 4px;
}
.line{
    margin-top: 40px;
    background-color: #c8c8c8;
    height: 300px;
    width: 2px;
}

.input-section-right{
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 400px;
    
}
.input-section-right label{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 4px;
}

.priority-section{
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.priority-section button{
    width: 136px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px 10px;
}
.priority-section button:hover{
    box-shadow: 0px 4px 4px 0px #00000040;
}

.requiredStar{
    color: orangered;
}

.footer{
    width: auto;
    max-width: 1304px;
    /* padding: 0 160px; */
    margin-bottom: 64px;
    margin-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer p{
    font-size: 16px;
}
.footer-left{
    display: flex;
}

.footer-buttons-section{
    display: flex;
    flex-direction: row;
    justify-content: end;
    width:100%;
    max-width: 309px;
    gap: 16px;
    z-index: 5;
}





.create-task-btn{
    width: 140px;
    height: 40px;
    border-radius: 7px;
    background-color:#2A3647;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
}
.create-task-btn:hover{
    background-color: #29ABE2;
}
.footer-buttons-section img{
    width: 10px;
    height: 10px;
}
.clear-btn{
    width: 110px;
    height: 40px;
    border-radius: 7px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #2A3647;
}
.clear-btn:hover{
    color: #29ABE2;
    border: 1px solid #29ABE2;
}
.clear-btn:hover img {
  filter: brightness(0) saturate(100%) invert(58%) sepia(87%) 
          saturate(2735%) hue-rotate(168deg) brightness(94%) contrast(92%);
}





.priority-section button.Urgent {
    background-color: #FF3D00;
    color: white;
}
.priority-section button.Medium {
    background-color: #FFA800;
    color: white;
}
.priority-section button.Low {
    background-color: #7AE229;
    color: white;
}
.priority-section button.Urgent img,
.priority-section button.Medium img,
.priority-section button.Low img {
  filter: brightness(0) invert(1);
}

input:focus::placeholder {
  color: transparent;
}
textarea:focus::placeholder {
  color: transparent;
}

.report {
    position: fixed;
    bottom: -1000px;
    left: 50%;
    transform: translateX(-50%);
    background-color:#2A3647;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.5s ease;
    pointer-events: none;
    width: 326;
    height: 74;
    opacity: 1;
    box-shadow: 0px 0px 4px 0px #0000001A;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 10000;
}

.report.show {
    bottom: 800px;
    opacity: 1;
    transform: translate(-50%, 50%);
    z-index: 10000;
}
.report img {
    width: 30px;
    height: 30px;
    z-index: 10000;
}

.required {
    color: #E60026;
    font-size: 12px;
    margin-top: 0px;
    font-weight: 400;
}
.d-none{
    display: none;
}
.input-error {
    border: 1px solid #E60026!important;
}

.availibleContactsOpen{
    z-index:3;
    position:relative;
    margin-top: -8px;
    padding-top: 8px;
    opacity: 1;
    max-height:288px;
    min-height: 288px;
    transition:  100ms ease;
    background-color: white;
    overflow-y: scroll;
}

.availibleContactsClose{
    opacity: 0;
    height:0px;
    transition:  100ms ease;
    overflow-y:hidden;
}




