@media(max-width:1272px) {

    .input-section-left,
    .input-section-right {
        width: 400px;
    }

    .dropTasktypeOpen {
        width: 400px;
    }

    .taskOption:hover {
        width: 378px;
    }

    .countInfo {
        top: 200px;
        right: 120px;
    }
}

@media(max-width:1196px) {
    .input-section-left {
        width: 340px;
        margin-left: 40px;
    }

    .dropTasktypeOpen {
        width: 340px;
    }

    .taskOption:hover {
        width: 318px;
    }

    .countInfo {
        top: 200px;
        right: 55px;
    }
}

@media(max-width:1196px) {
    .input-section-right {
        width: 340px;
    }
}


@media(max-width:1280px) and (max-height:800px) {
    .mainAreaRight {
        height: calc(100vh - 96px);
        overflow-y: scroll;
    }

    .mainAreaRight h1 {
        margin: 20px 0px 10px 40px;
    }

    .footer {
        margin-top: 166px;
        margin-bottom: 0px;
    }

}


@media(max-width:1024px) and (max-height:768px) {
    .mainAreaRight {
        height: calc(100vh - 96px);
        overflow-y: scroll;
    }

}

@media(max-width:1024px) and (max-height:600px) {


    .mainAreaRight h1 {
        margin: 20px 0px 30px 40px;
    }

    .mainAreaRight {
        height: calc(100vh - 96px);
        overflow-y: scroll;
    }

    .input-container {
        padding-bottom: 20px;
        height: 345px;
    }

    
}

@media (max-width:1000px) {
    .mainAreaRight {
        overflow-x: hidden;
        height: calc(100vh - 160px);
    }

    .mainAreaRight h1 {
        font-size: 48px;
        margin-left: 40px;
    }

    .input-container {
        flex-direction: column;
        max-width: none;
        gap: 0;
    }

    .input-section-left {
        margin-left: 0;
    }

    .line {
        display: none;
    }
}


@media (max-width:940px) {
    .clear-btn {
        font-size: 16px;
    }

    .create-task-btn {
        font-size: 16px;
    }
}


@media (max-width:680px) {
    .footer {
        flex-direction: column;
        margin-top: 98px;
    }
    
    .footer-buttons-section {
        justify-content: center;
        margin-bottom: 30px;
    }
}


@media(max-width:570px) {
    .input-section-left {
        width: 300px;
    }
    
    .input-section-right {
        width: 300px;
    }
    
    .mainAreaRight h1 {
        font-size: 44px;
    }
    
    .input-section-left label {
        font-size: 16px;
    }
    
    .input-section-left-input {
        font-size: 16px;
    }

    textarea {
        font-size: 16px;
    }
    
    .dropTasktypeOpen {
        width: 300px;
    }
    
    .taskOption:hover {
        width: 278px;
    }
    
    .input-section-right label {
        font-size: 16px;
    }
    
    .priority-section button {
        font-size: 16px;
        width: auto;
    }

    .section-right-select {
        font-size: 16px;
    }
    
    .ForTaskChoise {
        font-size: 16px;
    }
    
    .ForTaskChoise p {
        font-size: 16px;
    }
    
    .input-section-right-input {
        font-size: 16px;
    }
    
    .footer {
        margin-top: 98px;
    }
    
    .countInfo {
        top: 195px;
        right: 25px;
    }
}



/* ==========handy media query===================================== */
@media(min-width:425px) and (max-width:435px) and (min-height:930px) and (max-height:933px) {
    .footer-buttons-section {
        justify-content: center;
        margin-bottom: 30px;
        position:fixed;
        bottom:70px;
    }

    .footer {
        margin: 120px 0px 60px 0px;
    }
    
    .input-section-right {
        height: 100%;
    }
    
    .input-container {
        height: 100%;
    }

    .mainAreaRight {
        height: 83vh;
    }
    
    .footer {
        margin: 120px 0px 60px 0px;
    }
}

@media(max-width:428px) {
    .priority-section {
        flex-direction: row;
        justify-content: center;
        gap: 8px;
    }

    .dropTasktypeOpen {
        width: 290px;
    }

    .taskOption:hover {
        width: 268px;
    }

    .input-section-left {
        width: 290px;
    }

    .input-section-right {
        width: 290px;
    }

    .mainAreaRight {
        height: calc(100vh - 160px);
    }

    .input-container {
        padding-bottom: 0;
    }

    .footer {
        margin: 125px 0px 50px 0px;
    }

    .countInfo {
        top: 195px;
        right: 15px;
    }
}