.mainTextAria{
    display: flex;
    flex-direction: column;
    margin-left:96px;
    margin-top:110px;
    width:100%;
    max-width:1014px;
    height:calc(1024px - 206px);
    overflow-y: scroll;

}

.headlineHelpSite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
    width:100%;
    z-index: 0;
    
}

.headlineHelpSite img{
    width:37px;
    height:37px;
    
}

.headlineHelpSite img:hover{
    transform:scale(1.4);
}

.headlineHelpSite>p{
    font-size: 61px;
}