.mainTextAria{
    display: flex;
    flex-direction: column;
    margin-left:96px;
    margin-right:98px;
    margin-top:110px;
    width:100%;
    max-width:1014px;
    height:100vh;
    overflow-y: scroll;
    scrollbar-width: none;

}

.headlineHelpSite{
    display: flex;
    justify-content: space-between;
    align-items: start;
    /* margin-top:20px; */
    width:100%;
    z-index: 0;
    
}

.headlineHelpSite img{
    width:37px;
    height:37px;
    margin-top:20px;
}

.headlineHelpSite img:hover{
    transform:scale(1.4);
}

.headlineHelpSite>p{
    font-size: 61px;
    margin-top:0px;
}
.howToUseIt{
    font-size: 27px;
    font-weight: bold;
}

.whatisJoinHeadline{
    font-size: 27px;
    font-weight: bold;
}

ol>li::marker{
    font-size: 27px;   
}


ol{
    padding-left:30px;
}
h3{
    margin-top:0px;
    font-size: 20px;
}

@media (max-width: 900px) {
    .mainTextAria{
        margin-left:16px;
        margin-right:16px;
        margin-top:16px;
    }
}

