.mainAria {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 1208px;
    height: 100%;
    max-height: 100vh;
    box-sizing: border-box;
}

.headline_searchAddTask {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 232px;
    padding-left: 64px;
    padding-right: 88px;
}

.headline_searchAddTask p {
    font-size: 61px;

}

.searchInputField {
    width: 504px;
    display: flex;
}

.inputBorder {
    width: 100%;
    height: 46px;
    max-width: 312px;
    margin-right: 32px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputBorder input {
    width: 100%;
    max-width: 280px;
    height: 32px;
    border: none;
    background-color: #F6F7F8;
    padding-left: 16px !important;
}

.inputBorder input:focus {
    outline: none;
}

.inputBorder input:hover {
    cursor: pointer;
}

hr {
    height: 30px;
}

.priority-section button.urgent {
    background-color: #FF3D00;
    color: white;
}

.priority-section button.medium {
    background-color: #FFA800;
    color: white;
}

.priority-section button.low {
    background-color: #7AE229;
    color: white;
}

.priority-section button.urgent img,
.priority-section button.medium img,
.priority-section button.low img {
    filter: brightness(0) invert(1);
}

.inputBorder img {
    width: max-content;
    height: max-content;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputBorder img:hover {
    background-color: rgba(0, 0, 0, 0.205);
    cursor: pointer;
}


::placeholder {
    text-align: start;

}

.searchInputField button {
    height: 48px;
    width: 100%;
    max-width: 160px;
    border: 1px solid black;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px 16px;
}

.searchInputField button:hover {
    background-color: #29ABE2;
    border-color: #29ABE2;
    cursor: pointer;
}

#shortAddButton{
    display:none;
}

.DoneHeadlineMobile{
    display:none;
}

.categorys {
    display: flex;
    justify-content: space-evenly;
    height: 24px;
    width: 100%;
    gap: 34.67px;
    max-width: 1208px;
    padding: 0px 64px 0px 64px;
    box-sizing: border-box;
}

.categorys img {
    width: 24px;
    height: 24px;
}

.categorys p {
    font-weight: bold;
    font-size: 20px;
}

.TodoHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 244px;
    width: 100%;
}

.InprogressHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 244px;
    width: 100%;
}

.AwaitfeedbackHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 244px;
    width: 100%;
}

.DoneHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 244px;
    width: 100%;
}

.TodoHeadline img,
.InprogressHeadline img,
.AwaitfeedbackHeadline img,
.DoneHeadline img {
    cursor: pointer;
}

.card-zero {
    max-width: 210px;
    max-height: 182px;
    height: 4vh;
    width: 14vw;
    border: 1px solid rgba(6, 0, 0, 0.251);
    box-shadow: #091931;
    border-radius: 10px;
    gap: 8px;
    padding: 10px;
    background-color: #a8a8a89c;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #a8a8a8;
    font-weight: 400;
    font-size: 14px;
}



.edit-feedback {
    position: fixed;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    background-color:#2A3647;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.5s ease;
    pointer-events: none;
    opacity: 1;
    box-shadow: 0px 0px 4px 0px #0000001A;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 16px;
    z-index: 100;
}

.show {
    bottom: 500px;
    opacity: 1;
    transform: translate(-50%, 50%);
    z-index: 100;
}