.DragAndDropTaskAria {
    width: 100%;
    max-width: 1208px;
    height: 100%;
    max-height: calc(688px - 32px);
    overflow-y: scroll;
    display: flex;
    scrollbar-width: none;
    gap: 26px;
    padding: 8px 64px 0px 64px;
    box-sizing: border-box;
}



.Todo {
    width: 100%;
    max-width: 252px;
    height: 100%;
    max-height: 688px;

}

.Inprogress {
    width: 100%;
    max-width: 252px;
    height: 100%;
    max-height: 688px;

}

.AwaitFeedback {
    width: 100%;
    max-width: 252px;
    height: 100%;
    max-height: 688px;

}

.Done {
    width: 100%;
    max-width: 252px;
    height: 100%;
    max-height: 688px;

}

.TodoMobile,
.InprogressMobile,
.AwaitfeedbackMobile {
    display: none;
    
}

.TaskDiv {
    cursor: pointer;
    margin-bottom: 16px;
    max-height: 263px;
    background-color: rgb(255, 255, 255, 1);
    padding: 16px 16px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0, 0.08);
    z-index: 4;
    position:relative;
}

/* .miniMenüResponsiv{
    display:flex;
} */

.dOntShow{
    display:none;
}

.miniMenüButton{
    display:none;
}

.miniMenüResponsiv{
        display: flex;
        position: absolute;
        right: -38px;
        width: 80px;
        height: 90px;
        color:white;
        background-color: #2a3647;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }


.darkblue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 27px;
    padding: 4px 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    background-color: rgba(0, 56, 255, 1);
    color: white;
}

.darkblueBigView {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 27px;
    padding: 4px 16px;

    border-radius: 8px;
    background-color: rgba(0, 56, 255, 1);
    color: white;
}

.türkis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 27px;
    padding: 4px 16px;
    margin-bottom: 24px;
    border-radius: 8px;
    background: rgba(31, 215, 193, 1);
    color: white;
}

.closeIcon {
    cursor: pointer;
}

.closeIcon:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 50px;
}

.türkisBigView {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 27px;
    padding: 4px 16px;
    border-radius: 8px;
    background: rgba(31, 215, 193, 1);
    color: white;
}

.taskTitle p {
    margin: 0px 0px 8px 0px;
    font-size: 16px;
    font-weight: 700;
    color: rgba(42, 54, 71, 1);

}

.taskDescription p {
    color: rgba(168, 168, 168, 1);
    font-weight: 400;
    font-size: 16px;
    margin: 0px 0px 10px 0px;
    min-height: 20px;
    max-height: 75px;
    overflow: hidden;
}

.subTasks {
    display: flex;
    height: 16px;
    align-items: center;
    gap: 11px;
    margin-bottom: 24px;
}


.taskPriority {
    display: flex;
    align-items: center;
}


.back {
    fill: rgba(244, 244, 244, 1);
    rx: 8px;
    ry: 8px;
}

.fill {
    fill: rgba(69, 137, 255, 1);
    rx: 8px;
    ry: 8px;
}

.progressDescription {
    font-size: 12px;
    font-weight: 400;
}

.dont-Show {
    display: none;
}


.contactsMiniView {
    height: 32px;
    width: 100%;
}

.contactsCircle {
    align-content: center;
    text-align: center;
    position: relative;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255, 1);
    color: rgb(255, 255, 255, 1);
    border-radius: 45px;
    width: 30px;
    height: 30px;
}

.contactsCircle:first-child {
    margin-left: 0px;
    background-color: rgba(110, 82, 255, 1);
}

.contactsCircle:nth-child(2) {
    z-index: 2;
    background-color: rgba(31, 215, 193, 1);
    transform: translateX(-15px)
}

.contactsCircle:nth-child(3) {
    z-index: 3;
    background-color: rgba(252, 113, 255, 1);
    transform: translateX(-30px)
}

.contactsCircle:nth-child(4) {
    z-index: 4;
    background-color: rgba(195, 255, 43, 1);
    transform: translateX(-45px)
}

.contactsCircle:nth-child(5) {
    z-index: 5;
    background-color: rgba(255, 187, 43, 1);
    transform: translateX(-60px)
}

.contactsCircle:nth-child(6) {
    z-index: 6;
    background-color: rgb(255, 0, 0);
    transform: translateX(-75px)
}

.contactsCircle:nth-child(7) {
    z-index: 7;
    background-color: rgb(21, 255, 0);

}



.emptyCategory {
    border: 1px dashed rgb(168, 168, 168, 1);
    max-width: 246px;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(231, 231, 231, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.TaskDivDemo {
    pointer-events: none;
    border: 1px dashed rgb(168, 168, 168, 1);
    margin-bottom: 16px;
    max-height: 263px;
    height: 100%;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 16px 16px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0, 0.08);
    animation: slide 1500ms ease-in-out;
}


@keyframes slide {

    0% {
        opacity: 0.2;
    }

    25% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.6;
    }

    75% {
        opacity: 0.8;
    }

    100% {
        opacity: 1;
    }

}