.bigViewOfTask {
    z-index: 4;
    position: absolute;
    top: 120px;
    right: 30px;
    max-width: 445px;
    width: 100%;
    max-height: 931px;
    height: fit-content;
    background: rgba(255, 255, 255, 1);
    border-radius: 30px;
    padding: 48px 30px 48px 40px;
}

.editBigView {
    max-width: 455px;
    width: 100%;
    height: 697px;
    padding: 64px, 75px 64px 74px;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    background: white;
    width: calc(100% + 10px);
    overflow-y: auto;
    padding-right: 10px;
    overflow-x: hidden;
}

.countInfoEdit{
    display: flex;
}

.requiredEdit {
    color: #E60026;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 0px;
    font-weight: 400;
    min-height:15px;
    width:250px;
    position: relative;
    top:-23px;
}

.editViewHeader {
    width: 100%;
    max-width: 445px;
    min-height: 56px;
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0px;
    background-color: white;
}

.editViewHeader img {
    cursor: pointer;
    padding: 4px;
    height: fit-content;
}

.editViewHeader img:hover {
    background-color: rgb(238, 238, 238);
    border-radius: 50px;
}

.editView-mainInput {
    align-items: center;
}

.input-section-leftEditView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 445px;
    height: 376px;
}

.input-section-leftEditView label {
    margin-bottom: 8px;
}

.input-section-left-inputEditView {
    border: 1px solid #c8c8c8;
    padding: 12px 21px;
    margin-bottom: 22px;
    font-size: 18px;
    border-radius: 10px;
}

.input-section-left-inputEditView:focus,
.input-section-left-inputEditView:focus {
    border-color: #29ABE2;
    outline: none;
}

.input-section-leftEditView textarea {
    margin-bottom: 32px;
    height: 120px;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    padding: 12px 21px;
    font-size: 18px;
    font-family: arial, sans-serif;
    resize: none;
}

.dateEditView {
    background: url("../img/icons/event.svg");
    background-position: right 16px center;
    background-repeat: no-repeat;
    background-size: 24px;
    padding-right: 30px;
    background-color: #ffffff;
    margin-bottom: 2s0px;
}

.input-section-right-EditView {
    max-width: 445px;
    width: 110%;
    font-size: 20px;
}

.input-section-right-EditView button {
    margin-bottom: 24px;
}

.priority-sectionEdit {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.priority-sectionEdit button {
    width: 137.67px;
    height: 56px;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 16px 10px;
}

.priority-sectionEdit button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.priority-sectionEdit button.Urgent {
    background-color: #FF3D00;
    color: white;
}

.priority-sectionEdit button.Medium {
    background-color: #FFA800;
    color: white;
}

.priority-sectionEdit button.Low {
    background-color: #7AE229;
    color: white;
}

.priority-sectionEdit button.Urgent img,
.priority-sectionEdit button.Medium img,
.priority-sectionEdit button.Low img {
    filter: brightness(0) invert(1);
}

.section-right-selectEditView {
    max-width: 525px;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    padding: 12px 16px;
    font-size: 20px;
    background-color: white;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.taskChoiseEdit {
    margin-top: 24px;
    margin-bottom: 8px;
}
/* für Kontakte ab hier */

.assignedToEdit {
    margin-top: 24px;
    margin-bottom: 8px;
}

.availibleContactsOpenEdit {
    position: relative;
    margin-top: -8px;
    padding-top: 8px;
    opacity: 1;
    max-height: 288px;
    min-height: 288px;
    transition: 100ms ease;
    background-color: white;
    overflow-y: scroll;
    transition: 500ms ease-in-out;
}

.availibleContactsCloseEdit {
    opacity: 0;
    height: 0px;
    transition: 100ms ease;
    overflow: hidden;
}

.contactBox {
    display: flex;
    height: 56px;
    border-radius: 10px;
    align-items: center;
    position: relative;
}

.checkboxEdit {
    margin-left: 220px;
    position: absolute;
    right: 20px;
}

.checkedEdit {
    margin-left: 220px;
    position: absolute;
    right: 20px;
    content: url(/img/icons/checkedContactWhite.svg);
}

.checkedEdit:hover {
    background-image: url(/img/icons/hoverCheckedContact.svg);
}

.checkboxEdit:hover {
    background-image: url(/img/icons/hoverCheckContact.svg);
}

.contactBox:hover {
    background-color: rgba(238, 238, 238, 1);
    cursor: pointer;
}

.contactBox:hover:has(.checkedEdit) {
    background-color: rgba(42, 54, 71, 1);
}

.contactBox:has(.checkedEdit) {
    background-color: rgba(9, 25, 49, 1);
    color: white;
}

.choosenContactsEdit {
    height: 40px;
    width: 440px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
}

.contactCirclePopup {
    margin-right: 16px;
    margin-left: 16px;
    align-content: center;
    text-align: center;
    position: relative;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255, 1);
    border-radius: 45px;
    width: 32px;
    height: 32px;
    color: white;
    font-size: 12px;
}

.contactCirclePopupRender {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    border: 1px solid rgb(255, 255, 255, 1);
    border-radius: 45px;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 12px;
}

.contactBox:first-child .contactCirclePopup {
    background-color: rgba(110, 82, 255, 1);
}

.contactBox:nth-child(2) .contactCirclePopup {
    background-color: rgba(31, 215, 193, 1);
}

.contactBox:nth-child(3) .contactCirclePopup {
    background-color: rgba(252, 113, 255, 1);
}

.contactBox:nth-child(4) .contactCirclePopup {
    background-color: rgba(195, 255, 43, 1);
}

.contactBox:nth-child(5) .contactCirclePopup {
    background-color: rgba(255, 187, 43, 1);
}

.contactBox:nth-child(6) .contactCirclePopup {
    background-color: rgb(255, 0, 0);
}

.contactBox:nth-child(7) .contactCirclePopup {
    background-color: rgba(110, 82, 255, 1);
}

.contactBox:nth-child(8) .contactCirclePopup {
    background-color: rgba(31, 215, 193, 1);
}

.contactBox:nth-child(9) .contactCirclePopup {
    background-color: rgba(252, 113, 255, 1);
}

.contactBox:nth-child(10) .contactCirclePopup {
    background-color: rgba(195, 255, 43, 1);
}

.contactBox:nth-child(11) .contactCirclePopup {
    background-color: rgba(255, 187, 43, 1);
}

.contactBox:nth-child(12) .contactCirclePopup {
    background-color: rgb(255, 0, 0);
}

.contactBox:nth-child(13) .contactCirclePopup {
    background-color: greenyellow;
}

.contactBox:nth-child(14) .contactCirclePopup {
    background-color: purple;
}

.contactCirclePopupRender:first-child {
    background-color: rgba(110, 82, 255, 1);
}

.contactCirclePopupRender:nth-child(2) {
    background-color: rgba(31, 215, 193, 1);
}

.contactCirclePopupRender:nth-child(3) {
    background-color: rgba(252, 113, 255, 1);
}

.contactCirclePopupRender:nth-child(4) {
    background-color: rgba(195, 255, 43, 1);
}

.contactCirclePopupRender:nth-child(5) {
    background-color: rgba(255, 187, 43, 1);
}

.contactCirclePopupRender:nth-child(6) {
    background-color: rgb(255, 0, 0);
}

.subtaskEdit {
    margin-top: 24px;
    margin-bottom: 8px;
}

.section-right-selectEditView p {
    margin: 0px;
    padding: 0px;
}

.subtask-wrapperEditView {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 525px;
}
/* für footer Area ab hier */

.footerPopupEditView {
    width: 100%;
    max-width: 445px;
    position: sticky;
    bottom: 0px;
    min-height: 64px;
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: white;
}

.footer p {
    font-size: 16px;
}

.footer-leftPopup {
    display: flex;
    max-width: 170px;
    width: 100%;
}

.footer-buttons-sectionEditView {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.ok-btn-edit-view {
    width: 90px;
    height: 60px;
    border-radius: 10px;
    background-color: #2A3647;
    color: white;
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border: none;
}

.ok-btn-edit-view:hover {
    background-color: #29ABE2;
}

.checkEditView {
    width: 24px;
    height: 24px;
}