
.inputPopupEditView {
    width: 130%;
    max-width: 360px;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.inputPopupEditView:focus {
    border-color: #29ABE2;
    outline: none;
}


.subtask-listEdit {
    padding: 12px 21px;
    display: flex;
}

.subtask-iconEdit {
    position: absolute;
    right: 12px;
    top: 12px;
    align-items: center;
    align-self: end;
    gap: 4px;
    display: none;
}

.subtask-wrapperEditView input:focus+.subtask-iconEdit {
    display: flex !important;
}


.xEdit:hover,
.hookEdit:hover {
    cursor: pointer;
    background: #D1D1D1;
    border-radius: 56px;
}

.delimiterEdit {
    width: 0px;
    height: 20px;
    border: 1px solid #D1D1D1;
}

.ul-divEdit {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    list-style: none;

}

.listedEdit {
    margin-top: 8px;
    display: flex;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    align-items: center;
    height: 24px;
}

.listedEdit:hover {
    cursor: pointer;
    background: #e6e6e6;
    border-radius: 10px;
    .list-icon {
        display: flex !important;
    }
}

.dot {
    margin-right: 16px;
}

.list-icon {
    display: flex;
    position: absolute;
    right: 12px;
    gap: 4px;
    display: none;
}

.pencil,
.trash {
    width: 20px;
    height: 20px;
}

.edit-input {
    height: 10px;
    border: none;
    outline: none;
    border-radius: 0;

    display: block;
    width: calc(100% - 2px);
    margin-left: -16px;
    margin-right: -16px;
}

.edit-input:focus {
    border-bottom: 1px solid #29ABE2;
}

@media(min-width:371px) and (max-width:475px) {
    .editBigView {
        height: 512px;
    }

    .input-section-leftEditView {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 320px;
        height: 376px;
    }

    .input-section-right-EditView {
        max-width: 320px;
        width: 110%;
        font-size: 20px;
    }

    .inputPopupEditView{
        max-width: 286px;
    }
}

@media(max-width:400px){
    .input-section-leftEditView {
        width: 300px;
        height: 376px;
    }

    .input-section-right-EditView {
        max-width: 300px;
        width: 110%;
        font-size: 20px;
    }

    .inputPopupEditView{
        max-width: 266px;
    }
}

@media(max-width:370px){
    .inputPopupEditView{
        max-width: 240px;
    }
}