.reportPopup {
    position: fixed;
    bottom: -1000px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2A3647;
    color: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.5s ease;
    pointer-events: none;
    width: 326;
    height: 74;
    opacity: 1;
    box-shadow: 0px 0px 4px 0px #0000001A;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 16px;
}

.reportPopup.show {
    bottom: 400px;
    opacity: 1;
    transform: translate(-50%, 50%);
}

.reportPopup img {
    width: 30px;
    height: 30px;
}

.add-task-popup {
    width: 1116px;
    height: 870px;
    position: fixed;
    right: -10000px;
    /* transform: translateY(-50%); */
    padding: 64px 65, 75px 64px 74px;
    border-radius: 30px;
    opacity: 0;
    transition: all 0.4s ease;
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.add-task-popup.show {
    left:calc((135vw - 1116px)/2);
    top:210px;
    z-index: 8;
    /* transform:translate(50%); */
    overflow-y:hidden;
    opacity: 1;
}


.popup-header {
    align-items: center;
    max-width: 1002px;
    display: flex;
    justify-content: space-between;
    padding: 64px 40px 32px 74px;
}

.popup-header img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 56px;
    opacity: 1;
    z-index:2;
}

.popup-header img:hover {
    background-color: #e8e8e8;

}



/* ////////////////////////////////////////////////////////////////// */

.addTaskPopupMain {
    height: 870px;
    background-color: #f8f5f5;
    border-radius: 30px;
    scrollbar-width: none;
    width:100%;
}

.hiddenlayer{
    display: none;
}

.input-section-leftPopup input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  
  position:absolute;
  top:0px;
  left:0px;
  width: 440px; 
  height: 50px;             
  cursor: pointer;
   /* halbtransparent */
  outline: 1px solid red;                 /* Rahmen zum Debuggen */
}


.hiddenlayer2{
    display: none;
}

.show2{
    position:fixed;
    z-index: 1;
    background-color: rgb(255, 0, 0, 0.0);
    width:100%;
    max-width:1116px;
    height:100%;
    max-height:870px;
}

/* selbst gebautes Dropdown */

.section-right-select p{
    margin: 0px;
    padding: 0px;
}

.dropTasktypeOpenPopup{
    display:flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 7px;
    border-left:0.5px solid rgb(160, 154, 154, 0.1);
    border-right:0.5px solid rgb(160, 154, 154, 0.1);
    border-bottom: 0.5px solid rgb(160, 154, 154, 0.1);
    box-shadow: 0px 0px 14px 3px rgb(0, 0, 0, 0.04);
    width: 439px;
    height: 105px;
    padding-top:8px;
    position:absolute;
    top: 50px;
    left:0px;
    background-color: white;
    opacity: 1;
}

.dropTasktypeClose{
    max-height:0px;
    opacity: 0;
    transition: max-height 100ms ease-out, opacity 100ms ease-out;
}
/* listen elemente */
.taskOption{
    z-index: 3;
    padding-top: 16px;
    padding-left:20px;
    width:380px;
    height:48px;
    
}

.countInfoPopup{
    display:flex;
    width:30px;
}

.taskOption:hover{
    background-color: rgb(194, 194, 194);
    border-radius: 7px;
    cursor: pointer;
}

.taskOption img:hover{
    content: url(/img/icons/select-arrow-downHover.svg);
}

.select-arrow-downC{
    transform: rotateX(0deg);
    transition: 500ms ease-in-out;
}

.select-arrow-downT{
    transform: rotateX(0deg);
    transition: 500ms ease-in-out;
}

.select-arrow-open{
    transform:rotateX(180deg);
    transition: 500ms ease-in-out;
}

/* ///////////////////////////////////// */
.addTaskPopupMain h1 {
    font-size: clamp(32px, 3vw, 61px);
    margin-left: 0px;
    margin: 0px;
}

/* haupt darstellung und gab zwischen spalten */
.input-containerPopup {
    display: flex;
    align-items: center;
    gap: 48.12px;
}

.input-section-leftPopup {
    display: flex;
    flex-direction: column;
    margin-left: 74px;
    width: 440px;
    height: 376px;
}

.input-section-rightPopup {
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 400px;
}

.input-section-leftPopup label{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 4px;
}

.input-section-rightPopup label{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 4px;
}


/* standard border/padding und font-size im normalzustand */
.input-section-left select,
.input-section-left input,
.input-section-right select {

    border: 1px solid #c8c8c8;
    padding: 12px 21px;
    font-size: 18px;
}

/* hovereigenschaften links/rechts bei input feldern und select feldern */
.input-section-left select:hover,
.input-section-left input:hover,
.input-section-right input:hover,
.input-section-right select:hover {
    cursor: pointer;
}

/* eigenschaften links/rechts input sowie select wenn man hineinklickt */
.input-section-left select:focus,
.input-section-left input:focus,
.input-section-right input:focus,
.input-section-right select:focus {
    border-color: #29ABE2;
    outline: none;
}

/* eigene angelegte klasse für das subtask feld */
.inputPopup {
    width: 100%;
    max-width: 398px;
    border-radius: 7px;
    border: 1px solid #c8c8c8;
    padding: 12px 21px;
    font-size: 20px;
}

.inputPopup:focus {
    border-color: #29ABE2;
    outline: none;
}


/* hier alles für die Textarea links */
.input-section-left textarea {
    max-width: 1920px;
    height: 100px;
    border-radius: 7px;
    border: 1px solid #c8c8c8;
    padding: 12px 21px;
    font-size: 18px;
    font-family: arial, sans-serif;
    resize: none;
}

.input-section-left textarea:hover {
    cursor: pointer;
}

.input-section-left textarea:focus {
    border-color: #29ABE2;
    outline: none;
}

.input-section-left label {
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 4px;
}

.line {
    margin-top: 40px;
    background-color: #c8c8c8;
    height: 300px;
    width: 2px;
}

.input-section-right label {
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 4px;
}

.priority-section {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.priority-section button {
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 7px;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 16px 10px;
}

.priority-section button:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.requiredStar {
    color: orangered;
}

/* class to change p-tag into a input */




