
.hidden-input:focus-visible{
    outline:none;
    border:none;
}

.hidden-input{
    outline:none;
    border:none;
}

.dont-Show{
    display:none;
}

.availibleContactsOpen{
    z-index:3;
    position:relative;
    margin-top: -8px;
    padding-top: 8px;
    opacity: 1;
    max-height:288px;
    min-height:288px;
    transition:  100ms ease;
    background-color: white;
    overflow-y: scroll;
}

.availibleContactsClose{
    opacity: 0;
    height:0px;
    transition:  100ms ease;
    overflow: hidden;
}



.contactBox{
    display: flex;
    height: 56px;
    border-radius: 10px;
    align-items: center;
    position:relative;
}

.checkbox{
    margin-left:220px;
    position:absolute;
    right:20px;
}

.checked{
    margin-left:220px;
    position:absolute;
    right:20px;
    content: url(/img/icons/checkedContactWhite.svg);
}

.checked:hover{
    background-image: url(/img/icons/hoverCheckedContact.svg);
}

.checkbox:hover{
    background-image: url(/img/icons/hoverCheckContact.svg);
}

.contactBox:hover{
    background-color: rgba(238, 238, 238, 1);
    cursor: pointer;
}

.contactBox:hover:has(.checked) {
    background-color: rgba(42, 54, 71, 1);   
}

.contactBox:has(.checked) {
   background-color: rgba(9, 25, 49, 1);
    color:white;
}

.choosenContacts{
    height:30px;
    width:440px;
    display: flex;    
}

.contactCirclePopup {
    margin-right:16px;
    margin-left:16px;
    align-content: center;
    text-align: center;
    position: relative;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255, 1);
    border-radius: 45px;
    width:30px;
    height:30px;
    color:white;
    font-size: 12px;
}

.contactCirclePopupRender{
    display:flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(255, 255, 255, 1);
    border-radius: 45px;
    width:30px;
    height:30px;
    color:white;
    font-size: 12px;
}

.contactBox:first-child .contactCirclePopup {
    background-color: rgba(110, 82, 255, 1);
}

.contactBox:nth-child(2) .contactCirclePopup {
    background-color: rgba(31, 215, 193, 1);
}

.contactBox:nth-child(3) .contactCirclePopup {
    background-color:rgba(252, 113, 255, 1);
}

.contactBox:nth-child(4) .contactCirclePopup {
    background-color:rgba(195, 255, 43, 1);
}

.contactBox:nth-child(5) .contactCirclePopup {
    background-color:rgba(255, 187, 43, 1);
}

.contactBox:nth-child(6) .contactCirclePopup {
    background-color: rgb(255, 0, 0);
}

.contactCirclePopupRender:first-child {
    background-color: rgba(110, 82, 255, 1);
}

.contactCirclePopupRender:nth-child(2) {
    background-color: rgba(31, 215, 193, 1);
}

.contactCirclePopupRender:nth-child(3) {
  background-color:rgba(252, 113, 255, 1);
}

.contactCirclePopupRender:nth-child(4) {
    background-color:rgba(195, 255, 43, 1);
}

.contactCirclePopupRender:nth-child(5) {
    background-color:rgba(255, 187, 43, 1);
}

.contactCirclePopupRender:nth-child(6) {
    background-color: rgb(255, 0, 0);
}

/* abschnitt für subtask optionen */
.subtask-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtask-list {
    padding: 12px 21px;
    display: flex;
}

.subtask-icon {
    position: absolute;
    right: 12px;
    top: 12px;
    align-items: center;
    align-self: end;
    gap: 4px;
    display: none;
}

.subtask-wrapper input:focus+.subtask-icon {
    display: flex !important;
}


.x:hover,
.hook:hover {
    cursor: pointer;
    background: #D1D1D1;
    border-radius: 56px;
}

.delimiter {
    width: 0px;
    height: 20px;
    border: 1px solid #D1D1D1;
}

.ul-div {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.listed {
    margin-top: 8px;
    display: flex;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    align-items: center;
    height: 24px;
}

.listed:hover {
    cursor: pointer;
    background: #e6e6e6;
    border-radius: 10px;
    .list-icon {
        display: flex !important;
    }
}

.dot {
    margin-right: 16px;
}

.list-icon {
    display: flex;
    position: absolute;
    right: 12px;
    gap: 4px;
    display: none;
}

.pencil,
.trash {
    width: 20px;
    height: 20px;
}

.edit-input {
    height: 10px;
    border: none;
    outline: none;
    border-radius: 0;
    display: block;
    width: calc(100% - 2px);
    margin-left: -16px;
    margin-right: -16px;
}

.edit-input:focus {
    border-bottom: 1px solid #29ABE2;
}


.footerPopup {
    gap: 537.75px;
    width: 100%;
    max-width: 976.25px;
    margin-bottom: 64px;
    margin-left: 74px;
    margin-right: 65.75px;
    margin-top: 176px;
    display: flex;
    align-items: center;
}

.footer p {
    font-size: 16px;
}

.footer-leftPopup {
    display: flex;
    max-width:170px;
    width:100%;
}


.footer-buttons-section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.create-task-btn {
    width: 140px;
    height: 40px;
    border-radius: 7px;
    background-color: #2A3647;
    color: white;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
}

.create-task-btn:hover {
    background-color: #29ABE2;
}

.footer-buttons-section img {
    width: 10px;
    height: 10px;
}

.clear-btn {
    width: 110px;
    height: 40px;
    border-radius: 7px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #2A3647;
}

.clear-btn:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
}

.clear-btn:hover img {
    filter: brightness(0) saturate(100%) invert(58%) sepia(87%) saturate(2735%) hue-rotate(168deg) brightness(94%) contrast(92%);
}

.priority-section button.urgent {
    background-color: #FF3D00;
    color: white;
}

.priority-section button.medium {
    background-color: #FFA800;
    color: white;
}

.priority-section button.low {
    background-color: #7AE229;
    color: white;
}

.priority-section button.urgent img,
.priority-section button.medium img,
.priority-section button.low img {
    filter: brightness(0) invert(1);
}

input:focus::placeholder {
    color: transparent;
}

textarea:focus::placeholder {
    color: transparent;
}
