@media(min-width:410px) and (max-width:420px) and (min-height:890px) and (max-height:900px) {
    .login-container {
        width: 335px;
        height:500px;
        margin-top: 65px;
        margin-bottom: 90px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 55px;
    }
}

@media(min-width:385px) and (max-width:395px) and (min-height:840px) and (max-height:844px) {
    .login-container {
        width: 335px;
        height:480px;
        margin-top: 65px;
        margin-bottom: 70px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 50px;
    }
}

@media(min-width:425px) and (max-width:435px) and (min-height:930px) and (max-height:935px) {
    .login-container {
        width: 335px;
        height:480px;
        margin-top: 95px;
        margin-bottom: 110px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 50px;
    }
}

@media(min-width:410px) and (max-width:420px) and (min-height:910px) and (max-height:925px) {
    .login-container {
        width: 335px;
        height:480px;
        margin-top: 95px;
        margin-bottom: 110px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 50px;
    }
}

@media(min-width:760px) and (max-width:770px) and (min-height:1020px) and (max-height:1030px) {
    .login-container {
        
        height:450px;
        margin-top: 90px;
        margin-bottom: 280px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 35px;
    }

    .sidebar{
        width:680px;
    }
}

@media(min-width:535px) and (max-width:545px) and (min-height:715px) and (max-height:725px) {
    .login-container {
        
        height:400px;
        margin-top: 50px;
        margin-bottom: 80px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 30px;
    }

    .sidebar{
        width:480px;
    }
}

@media(min-width:340px) and (max-width:345px) and (min-height:880px) and (max-height:885px) {
    .login-container {
        
        height:450px;
        margin-top: 70px;
        margin-bottom: 140px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 35px;
    }

    /* .sidebar{
        width:480px;
    } */
}

@media(min-width:315px) and (max-width:325px) and (min-height:650px) and (max-height:660px) {
    .login-container {
        width:280px;
        height:410px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 35px;
    }

    /* .sidebar{
        width:480px;
    } */
}

@media(min-width:370px) and (max-width:380px) and (min-height:660px) and (max-height:670px) {
    .login-container {
        
        height:430px;
        margin-top: 20px;
        margin-bottom: 15px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 35px;
    }

}

@media(min-width:355px) and (max-width:365px) and (min-height:775px) and (max-height:785px) {
    .login-container {
        
        height:430px;
        margin-top: 60px;
        margin-bottom: 75px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 35px;
    }

}

