@media (max-width: 768px) {
    body {
        padding: 20px;
        justify-content: space-between;
        min-height: 100vh;
    }

    .login-container {
        width: 440px;
        margin-top: 180px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        background-color: white;
    }

    .signup-button-login {
        max-width: none;
        font-size: 15px;
    }

    .page-logo {
        position: static;
        margin-bottom: 40px;
        text-align: left;
        align-self: flex-start;
    }

    .page-footer {
        position: static;
        margin-top: auto;
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    body {
        padding: 16px;
        justify-content: flex-start;
        background-color: #F6F7F8;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow-y: hidden;
    }

    .login-container{
        width: 300px;
        margin-top: 15px;
        padding: 20px 20px 0px 20px;
    }

    .signup-button-login {
        width: 38%;
        max-width: none;
        font-size: 12px;
        margin: 15px 10px 15px 10px;
    }

    .page-logo {
        position: static;
        text-align: left;
        align-self: flex-start;
        margin-bottom: 8px;
    }

    .page-logo img {
        width: 45px;
        height: auto;
    }

    h1 {
        font-size: 36px;
        margin-bottom: 10px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 0;
        height:60px;
    }

    h1::after {
        content: '';
        width: 80px;
        height: 3px;
        background-color: #29ABE2;
        margin: 10px auto 30px;
        position: static;
        left: auto;
        transform: none;
        display: block;
    }

    .input-field input {
        padding: 15px;
        height: 50px;
        border-radius: 8px;
        font-size: 16px;
        border: 1px solid #D1D1D1;
    }

    .input-icon {
        right: 15px;
        top:24px;
    }

    .input-wrapper img{
        margin-bottom: 10px;
    }

    .button-group {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .btn-primary, .btn-secondary {
        max-width: 100%;
        width: 60%;
        padding: 15px;
        font-size: 16px;
        height: auto;
        border-radius: 8px;
    }

    .btn-primary {
        background-color: #2A3647;
        color: white;
        border: none;
    }

    .btn-secondary {
        background-color: white;
        color: #2A3647;
        border: 1px solid #2A3647;
        margin-bottom: 0;
    }

    .signup-container {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .signup-text {
        font-size: 16px;
        color: #000;
    }

    .signup-button-login {
        background-color: #2A3647;
        color: white;
        border-radius: 8px;
        font-size: 16px;
    }

    .page-footer {
        position: static;
        margin-top: auto;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        gap: 40px;
    }

    .page-footer a {
        color: #A8A8A8;
        text-decoration: none;
    }
}