@media(min-width:410px) and (max-width:420px) and (min-height:890px) and (max-height:900px) {
    .login-container {
        width: 335px;
        height:500px;
        margin-top: 210px;
        margin-bottom: 25px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 55px;
    }
}
/* Dimension: Iphone 12 Pro */
@media(min-width:385px) and (max-width:395px) and (min-height:840px) and (max-height:844px) {
    .login-container {
        width: 335px;
        height:480px;
        margin-top: 190px;
        margin-bottom: 10px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 50px;
    }
}
/* Dimension: Iphone 14 Pro Max */
@media(min-width:425px) and (max-width:435px) and (min-height:930px) and (max-height:935px) {
    .login-container {
        width: 335px;
        height:480px;
        margin-top:225px;
        margin-bottom: 50px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 50px;
    }
}

/* Dimension: Pixel 7  und Samsung Galaxy S20 Ultra*/
@media(min-width:410px) and (max-width:420px) and (min-height:910px) and (max-height:925px) {
    .login-container {
        width: 335px;
        height:480px;
        margin-top: 225px;
        margin-bottom: 50px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 50px;
    }
}

/* Ipad Mini */
@media(min-width:760px) and (max-width:770px) and (min-height:1020px) and (max-height:1030px) {
    .login-container {
        
        height:450px;
        margin-top: 225px;
        margin-bottom: 280px;
        padding: 20px 20px 0px 20px;
    }

    .signup-button-login{
        margin: 10px 10px 10px 10px
    }

    .input-wrapper {
        padding-bottom: 35px;
    }

    .sidebar{
        width:680px;
    }
}

@media(min-width:535px) and (max-width:545px) and (min-height:715px) and (max-height:725px) {
    .login-container {
        
        height:400px;
        margin-top: 145px;
        margin-bottom: 10px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 30px;
    }

    .sidebar{
        width:480px;
    }
}

@media(min-width:340px) and (max-width:345px) and (min-height:880px) and (max-height:885px) {
    .login-container {
        
        height:450px;
        margin-top: 70px;
        margin-bottom: 140px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 35px;
    }

    /* .sidebar{
        width:480px;
    } */
}

/* Dimension: Samsung Galaxy S9+ */
@media(min-width:315px) and (max-width:325px) and (min-height:650px) and (max-height:660px) {
    .login-container {
        width:280px;
        height:400px;
        margin-top: 120px;
        margin-bottom: 0px;
        padding: 20px 20px 0px 20px;
    }

    .input-wrapper {
        padding-bottom: 35px;
    }

    .button-group {
        gap:10px;
        margin-top:0px;
    }

    .signup-button-login {
        margin: 10px 10px 10px 10px;
    }
}

/* Dimension: Iphone SE */
@media(min-width:370px) and (max-width:380px) and (min-height:660px) and (max-height:670px) {
    .login-container {
        height:400px;
        margin-top: 120px;
        margin-bottom: 10px;
        padding: 20px 20px 0px 20px;
    }

    .button-group {
        gap:10px;
        margin-top:0px;
    }

    
    .input-wrapper {
        padding-bottom: 35px;
    }
    
}

@media(min-width:355px) and (max-width:365px) and (min-height:775px) and (max-height:785px) {
    .login-container {
        
        height:430px;
        margin-top: 160px;
        margin-bottom: 40px;
        padding: 20px 20px 0px 20px;
    }
    
    .input-wrapper {
        padding-bottom: 35px;
    }
    
}

/* Dimension: Samsung Galaxy S8+ */
@media(min-width:355px) and (max-width:365px) and (min-height:735px) and (max-height:745px) {
    .login-container { 
        height:430px;
        margin-top: 160px;
        margin-bottom: 0px;
        padding: 20px 20px 0px 20px;
    }

    .signup-button-login{
        margin: 10px 10px 10px 10px;
    }

    .input-wrapper {
        padding-bottom: 35px;
    }

}

