/* position of the Logo */
/* .loginLogoContainer,
.loginLogoContainer img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slide 1.5s forwards;
    z-index: 10;
    width: max-content;
} */

.loginLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slide 1.5s forwards;
    z-index: 10;
    width: max-content;
    width: 300px;
    height: auto;
}




@keyframes slide {
    0% {
        width: 300px;
        height: 350px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;
    }

    10% {
        width: 300px;
        height: 350px;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;
    }

    100% {
        width: 120px;
        height: 180px;
        top: 120px;
        left: 100px;
        transform: translateY(-50%) translateX(-50%);
        opacity: 1;

    }
}

@media(max-width:560px) {

    .animateOpacity{
        animation: animateOpacity 0.5s forwards;
    }

    @keyframes animateOpacity {
        0% {
            opacity: 0.8;
        }
        33% {
            opacity: 0.5;
        }
        100% {
            opacity: 0;
        }
        
    }

    .logoOverlayResponsiv{
        width:100%;
        height:100%;
        min-height:500px;
        position:absolute;
        top:0px;
        left:0px;
        background-color: rgba(42, 54, 71, 1);
        z-index: 9;
    }

    .hideOverlay{
        display:none;
    }


    /* position of the Logo */
    .loginLogo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        animation: slideResponsiv 1.5s forwards;
        z-index: 10;
        width: max-content;
        width: 100px;
        height: auto;
    }
    
    
    @keyframes slideResponsiv {
        0% {
            width: 100px;
            height: 122px;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            opacity: 1;
            content:url(/img/icons/join-logo-white.svg);
        }
        
        15% {
            width: 100px;
            height: 122px;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            opacity: 1;
        }
        
        100% {
            width: 64px;
            height: 78px;
            top: 80px;
            left: 60px;
            transform: translateY(-50%) translateX(-50%);
            opacity: 1;
            
        }
    }
}



.main-content {
    opacity: 0;

}

.main-content.visible {
    opacity: 1;
}


/* 
/* position of the Logo */
/* .page-logoLogin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 1500ms ease -12.0077ms 1 normal forwards running slide;
    z-index: 10;
}

/* size of the Logo */
/* .page-logoLogin img { */
/* width: 390px; */
/* height: auto; */
/* } */