@media (max-width: 1921px) {
  body {
    display: flex;
    justify-content: center;
    background-color: #F6F7F8;
  }

  .signup-card {
    position: relative;
    margin: auto;
  }

  .page-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 1920px;
  }
}



@media (max-width: 1024px) {
  .signup-card {
    margin-top: -15px;
    height: 510px;
    padding: 15px;
  }

  h1 {
    margin-bottom: 10px;
  }

  .input-wrapper input {
    padding: 8px 45px 8px 15px;

  }

  .input-wrapper {
    padding-bottom: 35px;
  }

  .privacy-checkbox {
    margin: 10px 0px;
  }
}



@media (max-width: 930px) {
  body {
    padding: 20px;
    justify-content: flex-start;
  }

  .page-logo {
    top: 30px;
    left: 45px;
  }

  .page-logo img {
    width: 64px;
    height: auto;
  }

  .signup-card {
    width: 100%;
    max-width: 500px;
    padding: 24px;
    margin-top: 70px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: white;
  }


  h1 {
    font-size: 42px;
    margin-bottom: 20px;
  }

  .back-arrow {
    top: 20px;
    left: 20px;
  }

  .input-field input {
    padding: 12px 40px 12px 12px;
    font-size: 16px;
  }

  .signup-button {
    max-width: none;
    font-size: 16px;
    margin: auto;
    width: 100%;
  }

  .privacy-checkbox {
    margin-top: 0;
  }

  .page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #F6F7F8;
  }
}


@media (max-width: 630px) {
  body {
    padding: 10px;
  }

  .page-logo img {
    width: 30px;
    height: 35px;
  }

  .page-logo {
    top: 0px;
    left: 25px;
  }

  /* .signup-card { 
    padding: 20px; 
  } */
  h1 {
    font-size: 36px;
  }

  .input-field input {
    padding: 10px 40px 10px 12px;
    font-size: 14px;
  }

  .privacy-checkbox label {
    font-size: 16px;
  }

  .page-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #F6F7F8;
  }

  .signUpLogo {
  /* padding: 0 20px; */
  position: absolute;
  top: 41px;
  left: 28px;
  width: 64px;
  height: 78px;
  opacity: 1;
}
}