@media(min-width:385px) and (max-width:395px) and (min-height:840px) and (max-height:850px) {
  .signup-card {
    margin-top: 160px;
    max-width: 340px;
    width: 340px;
  }
}

@media(min-width:410px) and (max-width:420px) and (min-height:890px) and (max-height:900px) {
  .signup-card {
    margin-top: 160px;
    max-width: 340px;
    width: 340px;
  }
}

@media(min-width:420px) and (max-width:440px) and (min-height:930px) and (max-height:940px) {
  .signup-card {
    margin-top: 160px;
    max-width: 340px;
    width: 340px;
  }
}

@media(min-width:410px) and (max-width:420px) and (min-height:910px) and (max-height:920px) {
  .signup-card {
    margin-top: 160px;
    max-width: 340px;
    width: 340px;
  }
}

/* Samsung Galaxy S8+ */
@media(min-width:350px) and (max-width:365px) and (min-height:730px) and (max-height:745px) {
  .signup-card {
    margin-top: 130px;
    max-width: 320px;
    width: 320px;
  }
}

/* Ipad Mini */
@media(min-width:760px) and (max-width:768px) and (min-height:1020px) and (max-height:1025px) {
  .signup-card {
    margin-top: 260px;
    max-width: 540px;
    width: 540px;
  }
}

@media(min-width:815px) and (max-width:820px) and (min-height:1160px) and (max-height:1190px) {
  .signup-card {
    margin-top: 250px;
    max-width: 540px;
    width: 540px;
  }
}

@media(min-width:910px) and (max-width:920px) and (min-height:1360px) and (max-height:1370px) {
  .signup-card {
    margin-top: 350px;
    max-width: 540px;
    width: 540px;
  }
}

@media(min-width:530px) and (max-width:545px) and (min-height:715px) and (max-height:725px) {
  .signup-card {
    margin-top: 110px;
    max-width: 340px;
    width: 340px;
  }
}

@media(min-width:340px) and (max-width:350px) and (min-height:880px) and (max-height:885px) {
  .signup-card {
    margin-top: 160px;
    max-width: 300px;
    width: 300px;
  }
}

@media(min-width:355px) and (max-width:365px) and (min-height:775px) and (max-height:785px) {
  .signup-card {
    margin-top: 130px;
    max-width: 300px;
    width: 300px;
  }
}

@media(min-width:850px) and (max-width:853px) and (min-height:1275px) and (max-height:1285px) {
  .signup-card {
    margin-top: 320px;
    max-width: 600px;
    width: 600px;
    height: 680px;
  }
  
  h1 {
    margin-bottom: 50px;
  }
  
  .input-wrapper {
    padding-bottom: 50px;
  }
}

/* Samsung Galaxy S9+ */
@media(min-width:315px) and (max-width:325px) and (min-height:650px) and (max-height:660px) {
  .signUpLogo {
    top: 20px;
    left: 28px;
    width: 44px;
    height: 58px;
  }
  
  .signup-card {
    margin-top: 80px;
  }
  
  h1{margin-bottom:5px;}
}

/* Ipone SE */
@media(min-width:370px) and (max-width:380px) and (min-height:660px) and (max-height:670px) {
  .signUpLogo {
    top: 20px;
    left: 28px;
    width: 44px;
    height: 58px;
  }
  
  .signup-card {
    margin-top: 80px;
  }
  
  h1{margin-bottom:5px;}
}