@media (max-width: 1230px){
    .header-title {
        font-size: 60px;
    }
    .header-sub-title {
        font-size: 20px;
    }
}

@media (max-width: 1140px){
    .detail-body{
        margin-top: 140px;
    }
    .detail-header{
        flex-direction: column;
    }
    .separator-box{
        display: none;
    }
    .center-alignment{
        display: unset;
    }
}

@media (max-width: 1054px) {
    .floating-contact{
        margin-left: 24px;
    }
    .floating-profile-name{
        font-size: 34px;
    }
}

@media (max-width: 1000px) {
    .contact-resp-arrow{
        display: flex;
    }
    .contact-resp-arrow img{
        position: absolute;
        top: 50px;
        right: 40px;
    }









    .overlay-content {
        flex-direction: column;
        width: 60%;
        height: auto;
        position: relative; /* wichtig für die Close-Position */
    }

    .overlay-logo {
        width: 100%;
        height: 250px;
        border-radius: 30px 30px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    /* Bild im Header ausblenden */
    .overlay-img-container {
        display: none;
    }

    /* Close Button oben rechts positionieren */
    .close-icon-container {
        position: absolute;
        top: -200px;
        right: 20px;
        z-index: 5;
        background: none;
    }
    .close-icon-container img {
        filter: brightness(0) invert(1);
    }

    /* Formular-Bereich */
    .overlay-form {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        position: relative;
    }

    .overlay-icon {
        width: 100%;
        margin-top: -60px; /* Kreis überlappt Header */
        display: flex;
        justify-content: center;
    }

    #overlayIcon {
        width: 100px;
        height: 100px;
        font-size: 35px;
    }

    .add-contact-text {
        width: 100%;
        padding: 0 20px 20px 20px;
    }

    /* Cancel verstecken */
    .add-overlay-cancel{
        display: none!important;
    }

    /* Submit zentrieren */
    #createContactOverlay {
        width: 180px;
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Container der Buttons neu ausrichten */
    .add-contact-text-submit {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 16px;
    }

    .add-contact-text-form{
        align-items: center;
    }
    .add-contact-text-form div{
        width: 80%;
    }

    .floating-profile-function{
        display: none;
    }
    .menu-contact-options{
        display: flex;
        justify-content: center;
        position: absolute;
        right: 40px;
        bottom: 40px;
        height: 40px;
    }
}






@media (min-width: 1000px) {
    .contact-body-list{
        display: flex!important;
    }
    
}










@media (max-width: 780px) {
    .contact-body-list{
        width: 100vw;
    }
    .contact-body-detail{
        display: none;
    }
    .add-new-contact-button{
        display: none;
    }
    .person-add{
        display: flex;
        position: absolute;
        bottom: 40px;
        right: 40px;
    }

    .overlay-content{
        width: 100%;
        height: 100%;
        border-radius: unset;
    }
    .overlay-logo{
        border-radius: unset;
    }
    
}

@media (max-width: 400px) {
    .header-title{
        font-size: 54px;
    }

    .overlay-title-text{
        font-size: 40px;
    }
    .overlay-title-sub-text{
        font-size: 18px;
    }





}

@media (max-width: 380px) {
    .contact-resp-arrow img{
        right: 0px;
    }
    .floating-contact-header{
        gap: 20px;
    }
    .floating-profile-name{
        font-size: 28px;
    }
}