/* body{
    overflow-y: auto !important;
} */

.flex-content-size {
    display: flex;
    height:calc(100vh - 160px);
    position: relative;
    justify-content: left !important;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 16px;
    width: 72px;
}

h1 {
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
}

.main-content {
    display: flex;
    flex-direction: row;
    max-height: 1024px;
    max-width: 1920px;
    width: 100%;
    position: relative;
}

.menu-bar {
    background-color: #2A3647;
    display: flex;
    flex-direction: column;
    width: 12vw;
    max-width: 232px;
    height: 100vh;
    max-height: 1024px;
    min-width: 154px;
}

.leftDivForNavBar{
    height:calc(100vh - 96px);
}

.rightDivForContacts{
    height:calc(100vh - 80px);
    margin-top:1px;
}

.main-content-body {
    display: flex;
    flex-direction: column;
    width: 88vw;
    height: 100vh;
    max-height: 1024px;
}

.content-header {
    height: 12vh;
    font-size: 20px;
    max-height: 96px;
    border: 2px solid rgba(0, 0, 0, 0.226);
    border-left: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
    align-items: center;
}

.content-body {
    height: calc(100vh - 96px);
    width: max-content;
    display: flex;
    flex-direction: row;
}

.join-logo {
    width: 96px;
    height: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: white;
    width: 100%;
}

.menu-bar-1 {
    height: 64%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16%;
    margin-top: 32px;
}

.menu-bar-2 {
    height: 36%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.menu-bar-2 div {
    color: white;
}

.menu-bar-2 div:hover {
    cursor: pointer;
    text-decoration: underline;
    font-weight: 700;
}

.menu-points {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 232px;
    justify-content: center;
    gap: 16px;
}

.menu-points:hover {
    cursor: pointer;
    background-color: #091931;
}

.active {
    background-color: #091931;
}

.menu img {
    width: 30px;
    height: 30px;
}

.user-help-section {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.user-help-section img {
    cursor: pointer;
}

.user-icon {
    width: 56px;
    height: 56px;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: rgba(41, 171, 226, 1);
}

.contact-body-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding-top: 16px;
    border-right: 2px solid rgba(0, 0, 0, 0.214);
    width: 456px;
    gap: 10px;
    padding-bottom: 16px;
    height: calc(100vh - 127px);
    /* overflow-y: scroll; */
}

.contact-list {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 10px;
    align-items: center;
}

.add-new-contact-button {
    background-color: #2A3647;
    width: 252px;
    min-height: 34px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 100ms ease-in-out;
}

.add-contact-success-box {
    height: max-content;
    width: max-content;
    padding-left: 32px;
}

.add-contact-success {
    background-color: #2A3647;
    width: 252px;
    min-height: 34px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: all 100ms ease-in-out;
}

.add-contact-success p {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.flex-success {
    display: flex;
}

.add-new-contact-button:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}

.contact-body-detail {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.detail-header {
    display: flex;
    flex-direction: row;
    height: 72px;
    gap: 30px;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
}

#detailBody {
    width: 80%;
    padding-bottom: 32px;
}

.header-title {
    font-size: 64px;
    font-weight: 700;
}

.separator-box {
    background-color: rgba(41, 171, 226, 1);
    width: 2px;
}

.header-sub-title {
    font-size: 24px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-alignment{
    display: none;
}

.contact-name,
.contact-separator {
    width: 352px;
    display: flex;
    flex-direction: row;
    gap: 35px;
    height: 78px;
    align-items: center;
    justify-content: center;
    min-width: 352px;
    min-height: 78px;
}

.contact-separator {
    height: 58px !important;
    min-height: 58 !important;
}

.contact-name:hover {
    cursor: pointer;
    background-color: #2A3647;
    border: 0px solid white;
    border-radius: 10px;
    color: white;
}

.selected {
    background-color: #2A3647;
    border-radius: 10px;
    color: white;
    border: 0px solid white;
}

.contact-separator p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 42px !important;
    font-size: 20px !important;
}

.contact-separator-box {
    width: 352px;
    height: 0px;
    border-radius: 3px;
    border: 1px solid #D1D1D1;
}

.profile-badge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: 0dvb solid black;
    align-items: center;
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 160px;
    height: 48px;
    
}

.profile-name {
    font-size: 20px;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-height:24px;
    }

.profile-email {
    font-size: 14px;
    font-weight: 400;
    color: #007CEE;
}

.floating-contact {
    width: 452px;
    height: clamp(313px, calc(167.2px + 10.25vw), 364px);
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-left: 32px;
}

.floating-contact-header {
    width: 452px;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 54px;
}

.floating-contact-title {
    width: 207px;
    height: 74px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.floating-contact-title p {
    flex: 1;
    font-weight: 400 !important;
    font-size: 20px !important;
}

.floating-contact-body {
    height: 128px;
    width: 146px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}
