@media (max-width: 3820px) {
    .contact-body-list {
        display: flex !important;
    }

    .overlay {
        width: 1212px;
        height: 592px;
        border-radius: 30px;
    }

    .overlay-content {
        width: 1212px;
        height: 592px;
        /* border-radius: unset; */
    }
}

@media(max-width: 1450px) {
    .overlay {
        width: 1100px;
        left: 110px;
    }

    .overlay-content {
        width: 1100px;
    }
}


@media (max-width: 1230px) {
    .header-title {
        font-size: 60px;
    }

    .header-sub-title {
        font-size: 20px;
    }

    .overlay {
        width: 1000px;
        top: 180px;
        left: 110px;
        height: 500px;
    }

    .overlay-content {
        width: 1000px;
        height: 500px;
    }
}

@media (max-width: 1140px) {
    .detail-body {
        margin-top: 140px;
    }

    .detail-header {
        flex-direction: column;
    }

    .separator-box {
        display: none;
    }

    .center-alignment {
        display: unset;
    }

    .overlay {
        width: 900px;
        top: 200px;
        left: 80px;
        height: 460px;
    }

    .overlay-content {
        width: 900px;
        height: 460px;
    }
}

@media (max-width: 1054px) {
    .floating-contact {
        margin-left: 24px;
    }

    .floating-profile-name {
        font-size: 34px;
    }
}

@media (max-width: 1000px) {

    .rightDivForContacts {
        height: calc(100vh - 160px);
    }

    .contact-resp-arrow {
        display: flex;
    }

    .contact-resp-arrow img {
        position: absolute;
        top: 50px;
        right: 40px;
    }

    .overlay-content {
        flex-direction: column;
        width: 540px;
        height: auto;
        position: relative;
    }

    .overlay {
        width: 540px;
        top: 250px;
        left: 180px;
        height: 460px;
    }

    .overlay-logo {
        width: 100%;
        height: 250px;
        border-radius: 30px 30px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .close-icon-containerResp {
        display: flex;
        position: relative;
        top: -150px;
        right: -230px;
    }

    .close-icon-containerResp img {
        filter: brightness(0) invert(1);
    }

    .overlay-img-container {
        display: none;
    }

    .close-icon-container {
        display: none;
        top: -200px;
        right: 20px;
        z-index: 5;
        background: none;
    }

    .close-icon-containerNC{
        display:flex;
        position:relative;
        top:-270px;
        right:30px;
    }

    .close-icon-containerNC img {
        filter: brightness(0) invert(1);
    }

    .close-icon-container img {
        filter: brightness(0) invert(1);
    }

    .overlay-form {
        width: 100%;
        flex-direction: column;
        align-items: center;
        /* padding: 20px 0; */
        position: relative;
    }

    .overlay-icon {
        width: 100%;
        margin-top: -60px;
        display: flex;
        justify-content: center;
    }

    #overlayIcon {
        width: 100px;
        height: 100px;
        font-size: 35px;
    }

    .add-contact-text {
        width: 100%;
        padding: 0 20px 20px 20px;
    }

    .add-overlay-cancel {
        display: none !important;
    }

    #createContactOverlay {
        width: 128px;
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-contact-text-submit {
        width: 300px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 16px;
    }

    .add-contact-text-form {
        align-items: center;
    }

    .add-contact-text-form div {
        width: 80%;
    }

    .floating-profile-function {
        display: none;
    }

    .menu-contact-options {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 40px;
        bottom: 40px;
        height: 40px;
    }

    .content-body {
        height: calc(100vh - 160px);
    }

    .contact-body-list {
        height: calc(100vh - 194px);
    }
}


@media (max-width: 780px) {
    .contact-body-list {
        width: calc(100vw);
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }

    .contact-body-detail {
        overflow-y: scroll;
        display: none;
    }

    .floating-contact-header {
        width: 89vw;
        gap: 30px;
    }

    .floating-contact {
        width: 68vw;
    }

    .contact-body-detail {
        width: calc(100vw - 0px);
        height: calc(100vh - 161px);
        position: fixed;
        flex-direction: column;
        top: 81px;
        background-color: white;
    }

    .content-body {
        width: calc(100vw);

    }

    .add-new-contact-button {
        display: none;
    }

    .person-add {
        display: flex;
        position: absolute;
        bottom: 40px;
        right: 40px;
    }

    .overlay-content {
        width: 100%;
        height: calc(100vh - 244px);
        border-radius: 30px;
    }

    .overlay {
        top: 148px;
        left: 50px;
        border-radius: 30px;
        height: calc(100vh - 245px);
    }

    .close-icon-container {
        top: -140px;
    }

    .floating-profile-name {
        min-width: 150px;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 220px;
    }

    .add-contact-text-submit div p {
        width: 45px;
    }

    .add-contact-text-submit div {
        width: 184px;
    }

    #createContactOverlay {
        width:188px;
    }

    .cancel-icon {
        display: none;
    }

    .chekImgNC{
        height:24px;
        width:24px;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }
}

@media(max-width:769px) {
    .overlay {
        top: 148px;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 220px;
    }

    .add-contact-text-submit div p {
        width: 45px;
    }

    .cancel-icon {
        display: none;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
        margin-left:15px;
    }
}

@media(max-width: 630px) {
    .overlay {
        left: 0px;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 220px;
    }

    .add-contact-text-submit div p {
        width: 55px;
    }

    .cancel-icon {
        display: none;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }
}

@media(max-width: 570px) {
    .overlay-content {
        width: 400px;
        border-radius: 30px;
    }

    .overlay {
        left: 10px;
        top: 120px;
        width: 400px;
        border-radius: 30px;
    }

    .close-icon-containerResp {
        display: flex;
        position: relative;
        top: -150px;
        right: -170px;
    }

        .close-icon-containerResp img {
        filter: brightness(0) invert(1);
    }

    .floating-profile-name {
        min-width: 150px;
    }

    .add-contact-text-submit div {
        width: 98px;
        height: 54px;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 250px;
    }

    .cancel-icon {
        display: none;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }

    #createContactOverlay {
        width: 120px;
    }

    .add-contact-text-submit div p {
        width: 55px;
    }
}

@media (max-width: 428px) {
    .content-body {
        height: calc(100vh - 160px);
    }

    .person-add {
        bottom: 20px;
        right: 10px;
    }

    .menu-contact-options {
        bottom: 10px;
        position: sticky;
        left: 240px;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 320px;
    }

    #createContactOverlay {
        width: 100px;
    }

    .add-contact-text-submit div p {
        display: flex;
        justify-content: center;
    }

    .add-contact-text-submit div {
        width: 100px;
        display: flex;
        justify-content: center;
    }

    #cancel-overlay p {
        width: 72px;
    }

    .overlay {
        top: 110px;
        width: 350px;
        border-radius: 30px;
    }

    .contact-body-list {
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }

    .close-icon-containerResp {
       
        top: -150px;
        right: -140px;
    }

    .close-icon-container {
        top: -230px;
    }

    .cancel-icon {
        display: none;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }
}

@media (max-width: 400px) {
    .header-title {
        font-size: 54px;
    }

    .overlay-title-text {
        font-size: 40px;
    }

    .overlay-title-sub-text {
        font-size: 18px;
    }

    .contact-body-list {
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }

    .overlay {
        top: 102px;
    }

    .close-icon-container {
        bottom: 500px;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }

    .floating-contact-header {
        width: 90vw;
        gap: 30px;
    }

    .floating-contact {
        width: 88vw;
    }

    .floating-profile-name {
        width: 64vw;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 220px;
    }

    .add-contact-text-submit div {
        width: 100px;
    }

    .add-contact-text-submit div p {
        display: flex;
        justify-content: center;
    }

    #createContactOverlay {
        width: 100px;
        height: 58px;
    }
    .close-icon-containerResp {
       
        top: -150px;
        right: -135px;
    }

    .cancel-icon {
        display: none;
    }
}

@media (max-width: 380px) {
    .contact-resp-arrow img {
        right: 0px;
    }

    .floating-contact-header {
        gap: 8px;
    }

    .floating-contact {
        margin-left: 10px;
    }

    .floating-profile-name {
        width: 64vw;
    }

    .floating-profile-name {
        font-size: 26px;
        width: calc(96vw - 100px);
    }

    .contact-body-list {
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }

    .overlay {
        height: calc(95vh - 140px);
        top: 81px;
        left: 10px;
    }

    .overlay-content {
        height: calc(95vh - 140px);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .overlay-logo {
        height: 245px;
    }

    .overlay-icon {
        width: 20px;
        margin-top: -30px;
    }

    .cancel-icon {
        display: none;

    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 220px;
    }

    .add-contact-text-submit div {
        width: 100px;

    }

    .add-contact-text-submit div p {
        display: flex;
        justify-content: center;
    }

    #createContactOverlay {
        width: 100px;

    }

    .close-icon-container {
        top: -122px;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }
}

@media(max-width: 360px) {
    .overlay {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        border-radius: unset;
        z-index: 12;
        transform: translateY(100px);
    }

    .showed {
        transform: translateY(0px);
    }

    .overlay-content {
        /* top:0px; */
        width: 100vw;
        transition: transform 5s ease-in-out;
        transform: translateY(100px);
    }

    .close-icon-containerNC {
        display: flex;
        position: relative;
        top: -250px;
        right: 30px;
    }

    .close-icon-containerResp {
        top: -150px;
        right: -130px;
    }

    .Showed {
        transform: translateY(0px);
    }

    .add-contact-text-form {
        gap: 10px;
        margin: 0px;
    }

    .overlay-title-text {
        font-size: 30px;
    }

    .overlay-title-sub-text {
        font-size: 14px;
    }

    #overlayTitle {
        margin-left: 15px;
    }

    #overlayIcon {
        width: 70px;
        height: 70px;
    }

    .overlay-close {
        height: 0px;
    }

    .detail-header {
        padding-left: 15px;
    }

    .floating-contact {
        margin-left: 10px;
    }

    .floating-contact-name {
        width: 220px;
        justify-content: center;
        white-space: normal;
        overflow: hidden;
        word-break: break-word;
        text-overflow: ellipsis;
    }

    .floating-profile-name {
        width: 220px;
        display: flex;
        align-items: center;
        min-width: 150px;
    }

    #createContactOverlay p {
        font-size: 16px;
    }

    .add-contact-text-submit {
        width: 202px;
        gap: 10px;
    }

    .add-contact-text-submit div p {
        font-size: 16px;
        width: 45px;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }

    .cancel-icon {
        display: none;
    }

    #createContactOverlay {
        width: 120px;
        height: 51px;
    }

    #cancel-overlay {
        width: 80px;
        height: 51px;
    }

}