@media (max-width: 3840px) {
    .contact-body-list {
        display: flex !important;
    }

    .overlay {
        width: 1212px;
        height: 592px;
        border-radius: 30px;
    }

    .overlay-content {
        width: 1212px;
        height: 592px;
        /* border-radius: unset; */
    }

    #cancel-overlayEdit{
        width:110px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        border:1px solid black;
    }
}

@media(max-width: 1450px) {
    #createContactOverlay{
        width:180px;
    }

    .overlay-content {
        width: 1100px;
    }
}


@media (max-width: 1230px) {
    .header-title {
        font-size: 60px;
    }

    .header-sub-title {
        font-size: 20px;
    }

    .overlay {
        width: 1000px;
        top: calc((100vh - 500px) / 2);
        left: calc((100vw - 1000px) / 2);
        height: 500px;
    }

    .overlay-content {
        width: 1000px;
        height: 500px;
    }

    #createContactOverlay{
        width:160px;
    }

    .add-overlay-cancel {
        width:140px;
    }
}

@media (max-width: 1140px) {
    .detail-body {
        margin-top: 140px;
    }

    .detail-header {
        flex-direction: column;
    }

    .separator-box {
        display: none;
    }

    .center-alignment {
        display: unset;
    }

    .overlay {
        width: 900px;
        top: calc((100vh - 460px) / 2);
        left: calc((100vw - 900px) / 2);
        height: 460px;
    }

    .overlay-content {
        width: 900px;
        height: 460px;
    }
}

@media (max-width: 1054px) {
    .floating-contact {
        margin-left: 15px;
    }

    .floating-profile-name {
        font-size: 34px;
    }
}

@media (max-width: 1000px) {

    .rightDivForContacts {
        height: calc(100vh - 160px);
    }

    .contact-resp-arrow {
        display: flex;
    }

    .contact-resp-arrow img {
        position: absolute;
        top: 50px;
        right: 40px;
    }

    .overlay-content {
        flex-direction: column;
        width: 540px;
        height: 560px;
        position: relative;
    }

    .overlay {
        width: 540px;
        top: calc((100vh - 642px) / 2);
        left: calc((100vw - 540px) / 2);
        height: 460px;
    }

    .overlay-logo {
        width: 100%;
        height: 250px;
        border-radius: 30px 30px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;

    }

    .overlay-logo img {
        padding: 10px;
        margin-top: 20px;
    }

    .close-icon-containerResp {
        display: flex;
        position: relative;
        top: -100px;
        right: -230px;
    }

    .close-icon-containerResp img {
        width: 35px;
        height: 35px;
        padding: 0px;
    }

    .close-icon-containerResp img:hover {
        border-radius: 50%;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.205);
    }

    .close-icon-containerResp img {
        filter: brightness(0) invert(1);
    }

    /* .close-icon-containerResp img:hover {} */

    .overlay-img-container {
        display: none;
    }

    .close-icon-container {
        display: none;
        top: -200px;
        right: 20px;
        z-index: 5;
        background: none;
    }

    /* .close-icon-containerNC{
        display:flex;
        position:relative;
        top:-270px;
        right:30px;
    } */

    .close-icon-containerNC img {
        filter: brightness(0) invert(1);
    }

    .close-icon-container img {
        filter: brightness(0) invert(1);
    }

    .overlay-form {
        width: 100%;
        flex-direction: column;
        align-items: center;
        /* padding: 20px 0; */
        position: relative;
    }

    .overlay-icon {
        width: 100%;
        margin-top: -60px;
        display: flex;
        justify-content: center;
    }

    #overlayIcon {
        width: 100px;
        height: 100px;
        font-size: 35px;
    }

    .add-contact-text {
        width: 100%;
        padding: 0 20px 20px 20px;
    }

    .add-overlay-cancel {
        display: none !important;
    }

    #createContactOverlay {
        width: 190px;
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-contact-text-submit {
        width: 300px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 16px;
    }

    .add-contact-text-form {
        align-items: center;
    }

    .add-contact-text-form div {
        width: 80%;
    }

    .floating-profile-function {
        display: none;
    }

    .menu-contact-options {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 40px;
        bottom: 40px;
        height: 40px;
    }

    .content-body {
        height: calc(100vh - 160px);
    }

    .contact-body-list {
        height: calc(100vh - 194px);
    }

    #overlayTitle {
        width: 300px;
        height: 95px;
    }

    .floating-contact-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .floating-contact-header {
        gap: 20px;
    }

    .floating-profile-name {
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 780px) {
    .contact-body-list {
        width: calc(100vw);
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }

    .contact-body-detail {
        overflow-y: scroll;
        display: none;
    }

    .floating-contact-header {
        width: 89vw;
        gap: 20px;
    }

    .floating-contact {
        width: 88vw;
    }

    .contact-body-detail {
        width: calc(100vw - 0px);
        height: calc(100vh - 161px);
        position: fixed;
        flex-direction: column;
        top: 81px;
        background-color: white;
    }

    .content-body {
        width: calc(100vw);

    }

    .add-new-contact-button {
        display: none;
    }

    .person-add {
        display: flex;
        position: absolute;
        bottom: 40px;
        right: 40px;
    }

    .overlay-content {
        width: 100%;
        /* height: calc(100vh - 650px); */
        border-radius: 30px;
    }

    .overlay {
        top: calc((100vh - 592px) / 2);
        left: calc((100vw - 540px) / 2);
        border-radius: 30px;
        /* height: calc(100vh - 582px); */
    }

    .close-icon-container {
        top: -140px;
    }

    .floating-profile-name {
        min-width: 150px;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 220px;
    }

    .add-contact-text-submit div p {
        width: 58px;
    }

    .add-contact-text-submit div {
        width: 184px;
        border:1px solid black;
        border-radius: 10px;
    }

    #createContactOverlay {
        width: 188px;
    }

    #createContactOverlayEdit {
        width: 100px;
        display: flex;
        align-items: center;
    }

    


    .cancel-icon {
        display: none;
    }

    .chekImgNC {
        height: 24px;
        width: 24px;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }

    .floating-contact-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .floating-profile-name {
        width: 64vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-contact-successResp{
        /* display:flex; */
    }
}

@media(max-width:769px) {
    .overlay {
        top: calc((100vh - 592px) / 2);
    }

    #overlayTitle {
        width: 300px;
        height: 90px;
    }

    .detail-header {
        gap: 5px;
        height: 110px;
        padding-left: 15px;
    }

    .detail-body {
        margin-top: 40px;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 220px;
    }

    .add-contact-text-submit div p {
        width: 110px;
    }

    .cancel-icon {
        display: none;
    }

    #cancel-overlayEdit{
        width:100px;
    }

    #cancel-overlayEdit p{
        width:50px;
        justify-self: center;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
        /* margin-left: -20px; */
    }

    .floating-contact-name {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60vw;
    }

    .floating-profile-name {
        width: 64vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 630px) {
    .overlay {
        top: calc((100vh - 592px) / 2);
        left: calc((100vw - 540px) / 2);
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 220px;
    }

    .add-contact-text-submit div p {
        width: 110px;
    }

    .cancel-icon {
        display: none;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }

    .floating-contact-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .floating-profile-name {
        width: 64vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 570px) {
    .overlay-content {
        width: 400px;
        border-radius: 30px;
        /* height: calc(100vh - 597px); */
    }

    .overlay {
       top: calc((100vh - 650px) / 2);
        left: calc((100vw - 400px) / 2);
        width: 400px;
        /* height: calc(100vh - 722px); */
        border-radius: 30px;
    }

    .overlay-logo img {
        padding: 10px;
        margin-top: 20px;
    }

    .close-icon-containerResp {
        display: flex;
        position: relative;
        top: -99px;
        right: -170px;
    }


    .floating-contact-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .floating-profile-name {
        width: 64vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .close-icon-containerResp img {
        filter: brightness(0) invert(1);
        padding: 0px;
    }

    .floating-profile-name {
        min-width: 150px;
    }

    .add-contact-text-submit div {
        width: 98px;
        height: 54px;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 250px;
    }

    .cancel-icon {
        display: none;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }

    #createContactOverlay {
        width: 180px;
    }

    .add-contact-text-submit div p {
        width: 110px;
    }
}

@media (max-width: 428px) {
    .content-body {
        height: calc(100vh - 160px);
    }

    .person-add {
        bottom: 20px;
        right: 15px;
    }

    .menu-contact-options {
        bottom: 10px;
        position: sticky;
        left: calc(100%);
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 320px;
    }

    #createContactOverlay {
        width: 170px;
    }

    .floating-contact-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .floating-profile-name {
        width: 64vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-contact-text-submit div p {
        display: flex;
        justify-content: center;
    }

    .add-contact-text-submit div {
        width: 100px;
        display: flex;
        justify-content: center;
    }

    .add-contact-text-submit div img {
        margin-left:0px;
    }

    #cancel-overlay p {
        width: 72px;
    }

    #createContactOverlayEdit p {
        margin-left:0px;
    }

    .overlay {
        left: calc((100vw - 360px) / 2);
        width: 350px;
        border-radius: 30px;
    }

    .contact-body-list {
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }

    .close-icon-containerResp {

        top: -100px;
        right: -156px;
    }

    .close-icon-container {
        top: -230px;
    }

    .cancel-icon {
        display: none;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }
}

@media (max-width: 400px) {
    .header-title {
        font-size: 54px;
    }

    .overlay-title-text {
        font-size: 40px;
    }

    .overlay-title-sub-text {
        font-size: 18px;
    }

    .contact-body-list {
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }

    .overlay {
        top: calc((100vh - 650px) / 2);
    }

    .close-icon-container {
        bottom: 500px;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }

    .floating-contact-header {
        width: 90vw;
        gap: 30px;
    }

    .floating-contact {
        width: 88vw;
    }

    .floating-contact-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .floating-profile-name {
        width: 66vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 220px;
    }

    .add-contact-text-submit div {
        width: 100px;
    }

    .add-contact-text-submit div p {
        display: flex;
        justify-content: center;
    }

    #createContactOverlay {
        width: 170px;
        height: 58px;
    }

    .close-icon-containerResp {
        padding: 10px;
        top: -65px;
        right: -135px;
    }

    .cancel-icon {
        display: none;
    }

    #overlayTitle {
        width: 300px;
        height: 39px;
    }
}

@media (max-width: 380px) {
    .contact-resp-arrow img {
        right: 0px;
    }

    .floating-contact-header {
        gap: 8px;
    }

    .floating-contact {
        margin-left: 15px;
    }

    .floating-profile-name {
        width: 64vw;
    }

    .close-icon-containerResp {
        top: -80px;
    }

    .floating-contact-name {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .floating-profile-name {
        font-size: 26px;
        width: calc(96vw - 100px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contact-body-list {
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }

    .overlay-close {
        height: 23px;
    }

    .overlay {
        margin: 0px 10px 0px -5px;
        width:330px;
        left: calc((100vw - 330px)/2);
    }

    .overlay-content {
        height: 495px;
        width:330px;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .overlay-logo {
        height: 135px;
    }

    .overlay-icon {
        width: 20px;
        margin-top: -30px;
    }

    .cancel-icon {
        display: none;
    }

    #overlayTitle {
        width: 300px;
        height: 52px;
        margin-top: 40px;
    }

    .add-contact-text-submit {
        margin-top: -18px;
        width: 220px;
    }

    .add-contact-text-submit div {
        width: 100px;

    }

    .add-contact-text-submit div p {
        display: flex;
        justify-content: center;
    }

    #createContactOverlay {
        width: 170px;

    }

    .close-icon-container {
        top: -122px;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }
}

@media(max-width: 360px) {
    .overlay {
        position: fixed;
        top: 0px;
        left: calc((100vw - 310px)/2);
        width: 310px;
        height: 100vh;
        border-radius: unset;
        z-index: 12;
        transform: translateY(100px);
    }

    .showed {
        transform: translateY(0px);
    }

    .overlay-content {
        /* top:0px; */
        width: 310px;
        transition: transform 5s ease-in-out;
        transform: translateY(100px);
    }

    .close-icon-containerNC {
        display: none;
        position: relative;
        top: -200px;
        right: 30px;
    }

    .close-icon-containerResp {
        top: -55px;
        right: -130px;
        padding: 0px;
    }

    .Showed {
        transform: translateY(0px);
    }

    .add-contact-text-form {
        gap: 10px;
        margin-top: 30px;
    }

    .overlay-title-text {
        font-size: 30px;
    }

    .overlay-title-sub-text {
        font-size: 14px;
    }

    #overlayTitle {
        margin-left: 15px;
        margin-top: -10px;
    }

    #overlayIcon {
        width: 70px;
        height: 70px;
    }

    .overlay-close {
        height: 0px;
    }

    .detail-header {
        padding-left: 15px;
    }

    .floating-contact {
        margin-left: 10px;
    }

    .floating-contact-name {
        width: 220px;
        justify-content: center;
        white-space: normal;
        overflow: hidden;
        word-break: break-word;
        text-overflow: ellipsis;
    }

    .floating-profile-name {
        width: 220px;
        display: flex;
        align-items: center;
        min-width: 150px;
    }

    #createContactOverlay p {
        font-size: 16px;
    }

    .add-contact-text-submit {
        width: 202px;
        gap: 10px;
    }

    .add-contact-text-submit div p {
        font-size: 16px;
        width: 110px;
    }

    .add-contact-text-submit div img {
        height: 11px;
        width: 15px;
    }

    .cancel-icon {
        display: none;
    }

    #createContactOverlay {
        width: 170px;
        height: 51px;
    }

    #cancel-overlay {
        width: 80px;
        height: 51px;
    }

    .overlay-logo img {
        padding: 0px;
        margin-top: 0px;
    }

}

@media(max-width:330px) {
    #overlayTitle {
        width: 300px;
        margin-top: 0px;
        height: 55px;
    }

    .close-icon-containerResp {
        top: -60px;
        right: -130px;
    }

}