.floating-contact-badge {
    height: clamp(64px, calc(52.8px + 3.5vw), 120px);
    width: clamp(64px, calc(52.8px + 3.5vw), 120px);
    border-radius: 50%;
    /* font-size: 47px; */
    font-size: clamp(28px,3vw,47px);
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.floating-contact-name {
    width: 278px;
    height: 88px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.floating-profile-name {
    width: 278px;
    height: 56px;
    font-size: 40px;
    font-weight: 500;
    min-width: max-content;
}

.floating-profile-function {
    width: 159px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit-contact {
    width: 62px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 100ms ease-in-out;
}

.edit-icon path {
    transition: all 100ms ease-in-out;
}

.edit-contact:hover {
    color: rgba(41, 171, 226, 1);
    cursor: pointer;
}

.edit-contact:hover .edit-icon path {
    fill: rgba(41, 171, 226, 1);
}

.edit-contact img {
    width: 24px;
    height: 24px;
}

.edit-contact div {
    width: 30px;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.edit-contact div:hover {
    cursor: pointer;
}

.delete-contact {
    width: 81px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 100ms ease-in-out;
}

.delete-icon path {
    transition: all 100ms ease-in-out;
}

.delete-contact:hover {
    color: rgba(41, 171, 226, 1);
    cursor: pointer;
}

.delete-contact:hover .delete-icon path {
    fill: rgba(41, 171, 226, 1);
}

.delete-contact img {
    width: 24px;
    height: 24px;
}

.delete-contact div {
    width: 49px;
    height: 19px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.delete-contact div:hover {
    cursor: pointer;
}

.floating-contact-email {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.floating-contact-email p {
    font-size: 16px !important;
    font-weight: 700 !important;
    overflow-x: auto;
}

.floating-contact-phone {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.floating-contact-phone p {
    font-size: 16px !important;
    font-weight: 700 !important;
}

#floatEmail {
    color: rgba(41, 171, 226, 1);
    font-size: 16px;
    font-weight: 400;
    overflow-x: auto;
    width: max-content;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.16);
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    min-height: 793px;
    /* min-width: 1000px; */
    display: none;
    flex-direction: row;
    max-width: 1440px;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.showed {
    display: flex;
}

.overlay-content {
    width: 960px;
    height: 400px;
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: white;
}

.overlay-logo {
    background-color: #2A3647;
    width: 40%;
    height: 100%;
    border-radius: 30px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay-form {
    width: 60%;
    display: flex;
    flex-direction: row;
}

.overlay-icon {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlayIcon {
    background-color: #D1D1D1;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    font-weight: 500;
}

.add-contact-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4%;
    border-radius: 30px;
    width: 67%
}

.overlay-close {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.overlay-close img {
    height: 32px;
    width: 32px;
}

.close-icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

.close-icon-container:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.205);
}

.add-contact-text-form {
    width: 100%;
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.add-contact-text-submit {
    width: 100%;
    background-color: rgba(165, 42, 42, 0.016);
    height: 57px;
}

.add-contact-text-form div {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.input-empty {
    border: 2px solid red !important;
}

.add-contact-text-form input {
    width: 80%;
    height: 40%;
    font-size: 16px;
    font-weight: 400;
    border: none;
}

.add-contact-text-form input:focus {
    outline: none;
    border: none;
}

.add-contact-text-submit {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.add-contact-text-submit div {
    height: 56px;
    width: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
}

.add-contact-text-submit div img {
    height: 24px;
    width: 24px;
}

.add-contact-text-submit div p {
    font-size: 18px !important;
    width: 72px !important;
}

.overlay-logo img {
    width: 56px;
    height: 67px;
    align-self: flex-start;
}

#overlayTitle {
    width: 300px;
    height: 128px;
}

.overlay-title-text {
    width: 100%;
    height: 72px;
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.overlay-title-sub-text {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.separator-box-overlay {
    width: 90px;
    height: 0px;
    border: 3px solid rgba(41, 171, 226, 1);
    border-radius: 8px;
    margin-top: 16px;
}

.overlay-img-container {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#cancel-overlay,
.cancel-icon path {
    transition: all 100ms ease-in-out;
}

#cancel-overlay:hover {
    cursor: pointer;
    color: rgba(41, 171, 226, 1);
    border-color: rgba(41, 171, 226, 1);
}

#cancel-overlay:hover .cancel-icon path {
    fill: rgba(41, 171, 226, 1)
}

#createContactOverlay {
    height: 56px;
    width: 160px;
    background-color: rgba(42, 54, 71, 1);
    color: white;
    transition: all 100ms ease-in-out;
    border: none;
}

#createContactOverlay:hover {
    cursor: pointer;
    background-color: rgba(41, 171, 226, 1);
}

#createContactOverlay p {
    font-size: 17px !important;
    /* width: 124px !important; */
    font-weight: 700;
}

.contact-resp-arrow{
    display: none;
    align-items: center;
}
.contact-resp-arrow:hover{
    cursor: pointer;
}

.person-add{
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 46px;
    border-width: 1px;
    padding: 12px;
    gap: 10px;
    background: #2A3647;
    cursor: pointer;
}
.person-add:hover{
    background: #29ABE2;
}
.menu-contact-options{
    display: none;
    width: fit-content;
    height: 56px;
    border-radius: 56px;
    border-width: 1px;
    padding: 12px;
    gap: 10px;
    opacity: 1;
    background: #2A3647;
    cursor: pointer;
}
.menu-contact-options:hover{
    background: #29ABE2;
}

.contact-more-wrapper{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    width: 116px;
    height: 100px;
    padding: 10px;
    opacity: 1;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
    
    position: fixed;
    bottom: 180px;
    right: -1500px;
    transition: right .3s ease;


}
.contact-more-wrapper.active {
    right: 10px;         
}


.contact-more-edit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.contact-more-edit:hover,
.contact-more-delete:hover {
  color: #29ABE2;

  img {
    filter: brightness(0) saturate(100%) invert(48%) sepia(72%) saturate(2923%)
            hue-rotate(181deg) brightness(95%) contrast(97%);
  }
}



.contact-more-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}
.contact-more-delete img,
.contact-more-edit img{
    width: 24px;
    height: 24px;
}