@media (max-width: 1230px){
    .header-title {
        font-size: 60px;
    }
    .header-sub-title {
        font-size: 20px;
    }
}

@media (max-width: 1140px){
    .detail-body{
        margin-top: 140px;
    }
    .detail-header{
        flex-direction: column;
    }
    .separator-box{
        display: none;
    }
    .center-alignment{
        display: unset;
    }
}

@media (max-width: 1054px) {
    .floating-contact{
        margin-left: 24px;
    }
    .floating-profile-name{
        font-size: 34px;
    }
}

@media (max-width: 1000px) {
    .contact-resp-arrow{
        display: flex;
    }
    .contact-resp-arrow img{
        position: absolute;
        top: 50px;
        right: 40px;
    }
}

@media (min-width: 1000px) {
    .contact-body-list{
        display: flex!important;
    }
    
}

@media (max-width: 780px) {
    .contact-body-list{
        width: 100vw;
    }
    .contact-body-detail{
        display: none;
    }
    .add-new-contact-button{
        display: none;
    }
    .person-add{
        display: flex;
        position: absolute;
        bottom: 40px;
        right: 50px;
    }
    
}

@media (max-width: 400px) {
    .header-title{
        font-size: 54px;
    }
}

@media (max-width: 380px) {
    .contact-resp-arrow img{
        right: 0px;
    }
    .floating-contact-header{
        gap: 20px;
    }
    .floating-profile-name{
        font-size: 28px;
    }
}