@media (max-width: 3820px) {
    .contact-body-list {
        display: flex !important;
    }

    .overlay {
        width: 1212px;
        height: 592px;
        border-radius: 30px;
    }

    .overlay-content {
        width: 1212px;
        height: 592px;
        /* border-radius: unset; */
    }

    .overlay-logo {
        border-radius: unset;
    }


}

@media(max-width: 1450px) {
    .overlay {
        width: 1100px;
        left: 110px;
    }

    .overlay-content {
        width: 1100px;
    }
}


@media (max-width: 1230px) {
    .header-title {
        font-size: 60px;
    }

    .header-sub-title {
        font-size: 20px;
    }

    .overlay {
        width: 1000px;
        top: 180px;
        left: 110px;
        height: 500px;
    }

    .overlay-content {
        width: 1000px;
        height: 500px;
    }
}

@media (max-width: 1140px) {
    .detail-body {
        margin-top: 140px;
    }

    .detail-header {
        flex-direction: column;
    }

    .separator-box {
        display: none;
    }

    .center-alignment {
        display: unset;
    }

    .overlay {
        width: 900px;
        top: 200px;
        left: 80px;
        height: 460px;
    }

    .overlay-content {
        width: 900px;
        height: 460px;
    }
}

@media (max-width: 1054px) {
    .floating-contact {
        margin-left: 24px;
    }

    .floating-profile-name {
        font-size: 34px;
    }
}

@media (max-width: 1000px) {

    .rightDivForContacts {
        height: calc(100vh - 160px);
    }

    .contact-resp-arrow {
        display: flex;
    }

    .contact-resp-arrow img {
        position: absolute;
        top: 50px;
        right: 40px;
    }

    .overlay-content {
        flex-direction: column;
        width: 540px;
        height: auto;
        position: relative;
    }

    .overlay {
        width: 540px;
        top: 250px;
        left: 180px;
        height: 460px;
    }

    .overlay-logo {
        width: 100%;
        height: 250px;
        border-radius: 30px 30px 0 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .overlay-img-container {
        display: none;
    }

    .close-icon-container {
        position: absolute;
        top: -200px;
        right: 20px;
        z-index: 5;
        background: none;
    }

    .close-icon-container img {
        filter: brightness(0) invert(1);
    }

    .overlay-form {
        width: 100%;
        flex-direction: column;
        align-items: center;
        /* padding: 20px 0; */
        position: relative;
    }

    .overlay-icon {
        width: 100%;
        margin-top: -60px;
        display: flex;
        justify-content: center;
    }

    #overlayIcon {
        width: 100px;
        height: 100px;
        font-size: 35px;
    }

    .add-contact-text {
        width: 100%;
        padding: 0 20px 20px 20px;
    }

    .add-overlay-cancel {
        display: none !important;
    }

    #createContactOverlay {
        width: 180px;
        /* margin: 0 auto; */
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .add-contact-text-submit {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 20px;
        gap: 16px;
    }

    .add-contact-text-form {
        align-items: center;
    }

    .add-contact-text-form div {
        width: 80%;
    }

    .floating-profile-function {
        display: none;
    }

    .menu-contact-options {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 40px;
        bottom: 40px;
        height: 40px;
    }

    .content-body {
        height: calc(100vh - 160px);
    }

    .contact-body-list {
        height: calc(100vh - 194px);
    }
}


@media (max-width: 780px) {
    .contact-body-list {
        width: calc(100vw);
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }
    
    .contact-body-detail {
        overflow-y: scroll;
        display:none;
    }

    .floating-contact-header {
        width:89vw;
        gap: 30px;
    }

    .floating-contact{
        width:89vw;
    }

    .contact-body-detail {
        width: calc(100vw - 5px);
        height: calc(100vh - 161px);
        position: fixed;
        flex-direction: column;
        top: 81px;
        background-color: white;
    }

    .content-body {
        width:calc(100vw);

    }

    .add-new-contact-button {
        display: none;
    }

    .person-add {
        display: flex;
        position: absolute;
        bottom: 40px;
        right: 40px;
    }

    .overlay-content {
        width: 100%;
        height: calc(100vh - 237px);
        border-radius: 30px;
    }

    .overlay {
        top: 148px;
        left: 50px;
        border-radius: 30px;
        height: calc(100vh - 245px);
    }

    .close-icon-container {
        top: -140px;
    }


}

@media(max-width:769px) {
    .overlay {
        top: 163px;
    }
}

@media(max-width: 630px) {
    .overlay {
        left: 0px;
    }
}

@media(max-width: 570px) {
    .overlay-content {
        width: 400px;
        border-radius: 30px;
    }

    .overlay {
        left: 10px;
        width: 400px;
        border-radius: 30px;
    }
}

@media (max-width: 428px) {
    .content-body {
        height: calc(100vh - 160px);
    }

    .person-add {
        bottom: 60px;
    }

    .menu-contact-options {
        bottom: 60px;
    }

    .overlay {
        top: 163px;
        width: 350px;
        border-radius: 30px;
    }

    .contact-body-list {
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }
}

@media (max-width: 400px) {
    .header-title {
        font-size: 54px;
    }

    .overlay-title-text {
        font-size: 40px;
    }

    .overlay-title-sub-text {
        font-size: 18px;
    }

    .contact-body-list {
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }

    .overlay {
        top: 102px;
    }

    .floating-contact-header {
        width:88vw;
        gap: 30px;
    }

    .floating-contact{
        width:88vw;
    }

    .floating-profile-name{
        width: 64vw;
    }
}

@media (max-width: 380px) {
    .contact-resp-arrow img {
        right: 0px;
    }

    .floating-contact-header {
        gap: 20px;
    }

    .floating-contact{
        margin-left:10px;
    }

    .floating-profile-name{
        width: 64vw;
    }

    .floating-profile-name {
        font-size: 28px;
        width:calc(96vw - 100px);
    }

    .contact-body-list {
        padding-top: 0px;
        padding-bottom: 0px;
        height: calc(100vh - 160px);
    }

    .overlay {
        height: calc(95vh - 140px);
        top: 81px;
        left: 0px;
    }

    .overlay-content {
        height: calc(95vh - 140px);
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .overlay-logo {
        height: 200px;
    }

    .overlay-icon {
        width: 20px;
        margin-top: -30px;
    }

    .add-contact-text-submit {
        margin-top: -18px;
    }

    .close-icon-container {
        top: -122px;
    }
}

@media(max-width: 360px) {
    .overlay {
        top: 100px;
        left: 10px;
        width: 300px;
        border-radius: unset;
    }

    .overlay-logo {
        border-radius: unset;
    }

    .overlay-content {
        border-radius: unset;
    }

    .add-contact-text-form {
        gap: 10px;
        margin: 0px;
    }

    .overlay-title-text {
        font-size: 30px;
    }

    .overlay-title-sub-text {
        font-size: 14px;
    }

    #overlayTitle {
        margin-left: 15px;
    }
}