.legal-wrapper {
    /* margin-left: 96px; */
    /* margin-top: 110px; */
    padding: 60px;
    height:calc(100vh - 216px);
    overflow-y: auto;
}

.marked {
    color: #29ABE2;
}

.legal-headline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.legal-headline a img{
    display: none;
}

@media(max-width:1000px){
     .legal-wrapper {
        padding: 0px;
        margin-left: 16px;
        margin-top: 16px;
        height:calc(100vh - 165px);
    }
}

@media (max-width: 428px) {
    .legal-wrapper {
        margin-left: 16px;
        margin-top: 16px;
    }
    .legal-headline a img{
        display: flex;
    }

    .legal-wrapper ul {
        padding-left:0px;
    }
}

@media(max-width: 360px){
    .legal-wrapper {
        margin: 5px 5px 0px 5px;
    }
}